<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./modificarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Modificar Leccion</title>
  </head>
  <body>
    <header id="#navbar"></header>
    <div id="appModificarLeccion">
      <div id="pages">
        <div class="row">
          <div class="col s12">
            <ul class="tabs" id="tabs-swipe-demo">
              <li class="tab col s4"><a class="active" href="#info">Información</a></li>
              <li class="tab col s4"><a href="#preguntas">Preguntas</a></li>
              <li class="tab col s4"><a href="#repaso">Repaso</a></li>
            </ul>
          </div>
        </div>
        <!--Información-->
        <div class="row" id="info">
          <div class="col s12">
            <div class="page">
              <div class="seccion-1 row container">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <label class="active">Nombre de la lección</label>
                      <input type="text" name="nombre" v-model="leccion.nombre">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <select id="select-materia">
                        <option value="#" selected disabled>Escoger la materia</option>
                        <option value="FISG1002">Física 2</option>
                        <option value="FISG1003">Física 3</option>
                      </select>
                      <label class="active">Materia</label>  
                    </div>
                    <div class="input-field col s6">
                      <label class="active">Paralelo:</label>
                      <select id="select-paralelo">

                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <label for="fechaInicio" class="active">fecha inicio</label>
                      <input v-model="leccion.fechaInicio" type="text" id="datePicker" name="fecha">
                    </div>
                    <div class="col s6 input-field">
                      <label class="active">Tipo</label>
                      <select id="select-tipo-leccion">
                        <option value="" disabled selected></option>
                        <option value="estimacion|laboratorio">Estimación|Laboratorio</option>
                        <option value="tutorial">Tutorial</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--Selección de preguntas-->
        <div class="row" id="preguntas">
          <div class="col s12">
            <div class="page">
              <div class="conatiner row">
                <div class="col s12 m9 l10">
                  <div v-for="capitulo in capitulosAMostrar" class="capitulo scrollspy section" v-bind:id="capitulo._id">
                    <h5>{{capitulo.nombre}}</h5>
                    <ul class="preguntas">
                      <li v-for="pregunta in capitulo.preguntas" class="question">
                        <p>
                          <input type="checkbox" v-bind:name="pregunta._id" v-bind:id="pregunta._id" v-bind:value="pregunta._id" v-model="preguntasSeleccionadas" v-on:change="buscarPreguntasPorId(pregunta._id)">
                          <label v-bind:for="pregunta._id">{{pregunta.nombre}}</label>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col hide-on-small-only m3 l2">
                  <ul class="section table-of-contents">
                    <li v-for="capitulo in capitulosAMostrar">
                      <a v-bind:href="'#' + capitulo._id">{{capitulo.nombre}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Repaso-->
        <div class="row" id="repaso">
        <button @click="prueba">prueba</button>
          <div class="col s12">
            <div class="page">
              <div class="container row">
                <p class="flow-text"><span class="title">Nombre:                </span> {{leccion.nombre}}</p>
                <p class="flow-text"><span class="title">Materia:               </span> {{leccion.nombreMateria}}</p>
                <p class="flow-text"><span class="title">Tiempo total estimado: </span> {{leccion.tiempoEstimado}} minutos</p>
                <p class="flow-text"><span class="title">Tipo de lección:       </span> {{leccion.tipo}}</p>
                <p class="flow-text"><span class="title">Fecha prevista:        </span> {{leccion.fechaInicio}}</p>
                <p class="flow-text"><span class="title">Puntaje total:         </span> {{leccion.puntaje}}</p>
                <p class="flow-text"><span class="title">Paralelo:              </span> {{leccion.nombreParalelo}}</p>
                <div class="col s12 preguntas-selected">
                  <ul class="preguntas collection">
                    <h2 class="flow-text center-align">Preguntas escogidas</h2>
                    <div>
                      <p class="collection-item"><span class="badge">Tiempo Estimado</span>Pregunta</p>
                      <li v-for="pregunta in auxPreguntasSeleccionadas" class="collection-item">
                        <input type="checkbox" name=""  v-bind:id="pregunta._id" checked class="filled-in">
                        <label v-bind:for="pregunta._id" class="maxWidth">
                          <p class="collection-item truncate"><span class="badge flow-text">{{pregunta.tiempoEstimado}} minutos</span>{{pregunta.nombre}}</p>
                        </label>
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="row">
                <button class="btn waves-effect waves-light btn-small-new pull right" @click="editarLeccion">Aceptar</button>
                <button class="btn waves-effect waves-light btn-small-new">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <footer>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="./modificarScript.js"></script>
    </footer>
  </body>
</html>
