<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/tooltipster/dist/css/tooltipster.bundle.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bower_components/pickadate/lib/themes/default.css">
    <link rel="stylesheet" type="text/css" href="./leccionStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Nueva Leccion</title>
  </head>
  <body>
    <header id="navbar">
    </header>
    <div id="app">
      <div id="pages">
        <section class="row" id="section-tabs">
          <br>
          <main class="col s12">
            <ul class="tabs" id="tabs-swipe-demo">
              <li class="tab col s4" id="t1"><a id = "ta1" class="active" href="#test1">Preparar</a></li>
              <li class="tab col s4 disabled" id="t2"><a id= "ta2"href="#test2">Seleccionar</a></li>
              <li class="tab col s4 disabled" id = "t4"><a id="ta4" href="#test4">Resumen</a></li>
            </ul>
          </main>
        </section>
        <!--        .::Paso 1, SETUP::.           -->
        <section id="test1" class="col s12">
          <div class="page">
            <main class="seccion-1 row container">
              <h1 class="center-align flow-text">Crear una nueva lección</h1>
              <form>
                <section class="row" id="row-nombre">
                  <article class="input-field col s12">
                    <label for="nombre">Nombre</label>
                    <input v-model="leccion_nueva.nombre" class="form-control " type="text" name="nombre" id="lblNombre" placeholder="nombre de leccion">
                  </article>
                </section>
                <section class="row" id="row-materia-paralelo">
                  <article class="input-field col s6" id="materias" v-show="profesor.tipo == 'titular'">
                    <label>Materia: </label> <br> <p>{{leccion_nueva.nombreMateria}}</p>
                  </article>
                  <article class="input-field col s6" id="div-select" v-show="profesor.tipo == 'titular'">
                    <label>Paralelo: </label><br> <p>{{paraleloEscogido.nombre}}</p>
                  </article>
                </section>
                <section class="row" id="row-fecha-tipo">
                  <article class="input-field col s6">
                    <label for="fechaInicio" class="active">Fecha Inicio</label>
                     <input id="datePicker" name="fecha" placeholder="fecha">
                  </article>
                  <article class="input-field col s6" id="tipoLeccion">
                    <label class="active">Tipo</label>
                    <form action="#">
                      <p>
                        <input name="group1" v-model="tipoEscogido" type="radio" id="tests1" disabled="true"/>
                      </p>
                      <p>
                        <input value="estimacion|laboratorio" v-model="tipoEscogido" class="with-gap" name="group1" type="radio" id="seleccionado1" checked/>
                        <label for="seleccionado1">Estimación|Laboratorio</label>
                      </p>
                      <p>
                        <input value="tutorial" v-model="tipoEscogido" class="with-gap" name="group1" type="radio" id="seleccionado2"  />
                        <label for="seleccionado2">Tutorial</label>
                      </p>
                    </form>
                  </article>
                </section>
              </form>
              <footer class="row col s12">
                <button type="button" v-on:click="validarCamposVacios()" id="btnsgt1" class="btn pull right">Siguiente</button>
              </footer>
            </main>
          </div>
        </section>
        <!--       Paso 2, SELECTION!      -->
        <section id="test2" class="col s12">
          <div class="page">
            <header class="strike">
              <span>Escoger las preguntas</span>
            </header>
            <main>
              <div class="tiempo" style="position: fixed">
                <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> <h4>{{preguntas_escogidas.tiempoTotal}} Min</h4>
              </div>
              <section class="container" id="capitulos">
                <div class="row">
                  <section class="col s7 m9 l10">
                    <article v-for="capitulo in capitulosMostrar" class="capitulo scrollspy section" v-bind:id="capitulo._id">
                      <ul class="preguntas collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header" v-on:click="collapsibleClicked($event)">
                                                                      <span><h6>({{capitulo.nombreMateria}})</h6></span>
                                                                      <h5>{{capitulo.nombre}}</h5>
                          </div>
                          <div class="collapsible-body question" v-for="pregunta in capitulo.preguntas">
                            <div v-bind:id="'tooltip-' + pregunta._id"
                               v-on:mouseover="showTooltip(pregunta._id, pregunta.descripcion, pregunta.tiempoEstimado)">
                            <input type="checkbox" v-bind:id="pregunta._id" value="asdadsa" onclick="preguntaSeleccionada(this)">
                            <label v-bind:for="pregunta._id">
                              {{pregunta.nombre}}
                            </label>
                            <label class="icono pull right">
                              <p>{{pregunta.tiempoEstimado}} minutos</p>
                            </label>
                          </div>
                            </div>
                        </li>
                      </ul>
                    </article>
                  </section>
                  <section class="col s4 hide-on-small-only m3 l2">
                    <ul class="section table-of-contents">
                      <li v-for="capitulo in capitulosAMostrar">
                        <a v-bind:href="'#' + capitulo._id">{{capitulo.nombre}}</a>
                      </li>
                    </ul>
                  </section>
                  <section class="row col s10">
                    <button type="button" v-on:click="avanzarPestania('test1','#t1')" id="btnats1" class="btn">atras</button>
                    <button type="button" v-on:click="avanzarPestania('test4','#t4')" id="btnsgt2" class="btn pull right">siguiente</button>
                  </section>
                </div>
              </section>
            </main>
          </div>
        </section>
        <!--     Paso 3, OVERVIEW       -->
        <section id="test4" class="col s12">
          <div class="page">
            <header class="strike">
              <span>Resumen</span>
            </header>
            <section class="container" id="overview">
              <p class="flow-text"><span class="title">Nombre:                </span> {{leccion_nueva.nombre}}</p>
              <p class="flow-text"><span class="title">Materia:               </span> {{leccion_nueva.nombreMateria}}</p>
              <p class="flow-text"><span class="title">Tiempo total estimado: </span> {{preguntas_escogidas.tiempoTotal}} minutos</p>
              <p class="flow-text"><span class="title">Tipo de lección:       </span> {{leccion_nueva.tipo}}</p>
              <p class="flow-text"><span class="title">Fecha prevista:        </span> {{leccion_nueva.fechaInicio}}</p>
              <p class="flow-text"><span class="title">Puntaje total:         </span> {{leccion_nueva.puntaje}}</p>
              <p class="flow-text"><span class="title">Paralelo:              </span> {{paraleloEscogido.nombre}}</p>
            </section>
            <!-- Preguntas Seleccionadas-->
            <section class="preguntas-selected container">
  	            <ul class="preguntas collection">
  	              <h2 class="flow-text center-align">Preguntas escogidas</h2>
  	              <main>
  	                <p class="collection-item"><span class="badge">Tiempo Estimado</span>Pregunta</p>
  	                <li v-for="pregunta in preguntas_escogidas.preguntas" class="collection-item">
  	                  <input type="checkbox" name = "" :id="pregunta._id" onclick="preguntaSeleccionada(this)" checked class="filled-in">
  	                    <label :for="pregunta._id" class="maxWidth">
                          <span class="title">{{pregunta.capitulo.nombre}}</span>
                          <p class="collection-item truncate">
                            <span class="badge flow-text">{{pregunta.tiempoEstimado}} minutos</span>
                            {{pregunta.nombre}}
                          </p>
  	                    </label>
  	                </li>
  	              </main>
  	            </ul>
                <button type="button col s6" v-on:click="avanzarPestania('test2','#t2')" id="btnats1" class="btn ">atras</button>
  	            <button type="button" v-on:click="crearLeccion()" class="btn pull right">Enviar</button>
            </section>
          </div>
        </section>
      </div>
      <!-- Modal Structure -->
  	  <div id="myModal" class="modal">
  	    <div class="modal-content">
  	      <p class="center-align">Lección creada correctamente</p>
  	    </div>
  	    <div class="modal-footer">
  	      <a href="/profesores/leccion" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
  	    </div>
  	  </div>
      <!-- Modal pregunta -->
      <div id="modalDesc" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
          <a id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
      </div>
      <!-- Modal validacion -->
      <div id="modalVal" class="modal">
        <div class="modal-content">
          <p class="center-align">Ha olvidado llenar un campo</p>
        </div>
        <div class="modal-footer">
          <a href="/profesores/leccion" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
      </div>
      </div>
    </div>
    <footer>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="/bower_components/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
      <script src="/bower_components/moment/moment.js"></script>
      <script src="/bower_components/pickadate/lib/picker.js"></script>
      <script src="/bower_components/pickadate/lib/picker.date.js"></script>
      <script src="./app.leccion.js"></script>
      <script src="/partials/navbar.js"></script>
      <script src="/js/summernote.js"></script>
    </footer>
  </body>
</html>
