<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./leccionStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <title>Nueva Leccion</title>
  </head>
  <body>
    <header id="#navbar">
    </header>
    <div id="app">
      <div id="pages">
        <div class="row" >
          <br>
          <div class="col s12">
            <ul class="tabs" id="tabs-swipe-demo">
              <li class="tab col s4"><a class="active" href="#test1">Preparar</a></li>
              <li class="tab col s4"><a href="#test2">Seleccionar</a></li>
              <li class="tab col s4"><a href="#test4">Resumen</a></li>
            </ul>
          </div>
        </div>
        <!--        .::Paso 1, SETUP::.           -->
        <div id="test1" class="col s12">
          <div class="page">
            <div class="seccion-1 row container">
             <h1 class="center-align flow-text">Crear un nueva leccion</h1>
              <form>
                <div class="row">
                  <div class="input-field col s12">
                    <label for="nombre">nombre</label>
                    <input v-model="leccion_nueva.nombre" class="form-control " type="text" name="nombre" placeholder="nombre leccion">
                  </div>
                  <div class="input-field col s6" id="materias">
                    <select id="subject">
                      <option value="#" selected disabled>escoger paralelo...</option>
                      <option value="FISG1002">Física 2</option>
                      <option value="FISG1003">Física 3</option>
                    </select>                  
                    <label>Materia</label>  
                  </div>
                  <div class="input-field col s6" id="div-select">                  
                    <label class="active">Paralelo:</label>
                  </div>
                </div>
              <div class="row">
                <div class="input-field col s6">
                  <label for="fechaInicio" class="active">fecha inicio</label>
                  <input v-model="leccion_nueva.fechaInicio" type="date" id="datePicker" name="fecha">
                </div>
                <div class="input-field col s6">
                  <label class="active">Tipo</label>
                  <select id="select-tipo-leccion">
                    <option value="" disabled selected></option>
                    <option value="estimacion|laboratorio">Estimación|Laboratorio</option>
                    <option value="tutorial">Tutorial</option>
                  </select>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
        <!--       Paso 2, SELECTION!      -->
        <div id="test2" class="col s12">
          <div class="page">
            <div class="strike">
              <span>Escoger las preguntas</span>
            </div>
              <main>
                <div class="container">
                  <div class="row">
                    <div class="col s12 m9 l10">
                      <div v-for="capitulo in capitulosAMostrar" class="capitulo scrollspy section" v-bind:id="capitulo.id">
                        <h5>{{capitulo.nombre}}</h5>
                        <ul class="preguntas">
                          <li v-for="pregunta in capitulo.preguntas" class="question">
                          <div>
                            <input type="checkbox" v-bind:id="pregunta._id" value="asdadsa" onclick="preguntaSeleccionada(this)">
                            <label v-bind:for="pregunta._id">
                              {{pregunta.nombre}}
                            </label> 
                            <label class="icono pull right">
                              <a class="btn-floating waves-effect" v-on:click="verModal(pregunta.descripcion)">
                                <i class="tiny material-icons">visibility</i>
                              </a>
                              <span class="clearer"></span>
                            </label>
                          </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="col hide-on-small-only m3 l2">
                      <ul class="section table-of-contents">
                        <li v-for="capitulo in capitulosAMostrar">
                          <a v-bind:href="capitulo.href">{{capitulo.nombre}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  </div>
              </main>
          </div>
        </div>
        <!--     Paso 3, OVERVIEW       -->
          <div id="test4" class="col s12">
            <div class="page">
            <div class="strike">
              <span>Resumen</span>
            </div>
            <div class="container" id="overview">
            <p class="flow-text"><span class="title">Nombre:                </span> {{leccion_nueva.nombre}}</p>
            <p class="flow-text"><span class="title">Materia:               </span> {{leccion_nueva.nombreMateria}}</p>
            <p class="flow-text"><span class="title">Tiempo total estimado: </span> {{preguntas_escogidas.tiempoTotal}} minutos</p>
            <p class="flow-text"><span class="title">Tipo de lección:       </span> {{leccion_nueva.tipo}}</p>
            <p class="flow-text"><span class="title">Fecha prevista:        </span> {{leccion_nueva.fechaInicio}}</p>
            <p class="flow-text"><span class="title">Puntaje total:         </span> {{leccion_nueva.puntaje}}</p>
            <p class="flow-text"><span class="title">Paralelo:              </span> {{paraleloEscogido.nombre}}</p>
            <!-- Preguntas Seleccionadas-->
            <div class="preguntas-selected">
  	            <ul class="preguntas collection">
  	              <h2 class="flow-text center-align">Preguntas escogidas</h2>
  	              <div>
  	                <p class="collection-item"><span class="badge">Tiempo Estimado</span>Pregunta</p>
  	                <li v-for="pregunta in preguntas_escogidas.preguntas" class="collection-item">
  	                  <input type="checkbox" v-bind:id="pregunta._id" onclick="preguntaSeleccionada(this)" checked class="filled-in">
  	                    <label v-bind:for="pregunta._id" class="maxWidth">
                          <p class="collection-item truncate"><span class="badge flow-text">{{pregunta.tiempoEstimado}} minutos</span>{{pregunta.nombre}}</p>
  	                    </label>
  	                </li>
  	              </div>
  	            </ul>
  	            <button type="button" v-on:click="crearLeccion()" class="btn ">send</button>
            </div>

            </div>
          </div>
        </div>

        <!-- Modal Structure -->
    	  <div id="myModal" class="modal">
    	    <div class="modal-content">
    	      <p class="center-align">Lección creada correctamente</p>
    	    </div>
    	    <div class="modal-footer">
    	      <a href="/profesores/leccion" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    	    </div>
    	  </div>
        <!-- Modal pregunta -->
        <div id="modalDesc" class="modal">
          <div class="modal-content">
          </div>
          <div class="modal-footer">
            <a href="#" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="./app.leccion.js"></script>
      <script src="/js/summernote.js"></script>
    </footer>
  </body>
</html>
