<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <title>Lecciones</title>
</head>
<body>
  <h1>Lecciones Creadas</h1>
  <div id="app">
    <p>{{paralelo_escogido}}</p>
    <div>
      <select onchange="escogerParalelo(this)">
        <option value="sda"></option>
        <option v-for="paralelo in paralelos" v-bind:id="paralelo._id">{{paralelo.nombre}}</option>
      </select>
    </div>
    <div class="lecciones">
      <div v-for="leccion in lecciones">
        <p>{{leccion._id}}</p>
        <p>{{leccion.nombre}}</p>
        <p>{{leccion.estado}}</p>
        <button v-if="leccion.estado == 'pendiente'" v-on:click="tomarLeccion(leccion._id)">tomar leccion</button>
        <button v-if="leccion.estado == 'tomando'" v-on:click="tomandoLeccion(leccion._id)">tomando leccion</button>
        <button v-if="leccion.estado == 'terminada'" v-on:click="terminadaLeccion(leccion._id)">ver leccion ya tomada</button>
        <p>--------------------</p>
      </div>
    </div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/vue/dist/vue.min.js"></script>
  <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
  <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
  <script src="./app.lecciones.js"></script>
</body>
</html>
