<div class="contenedor">
  <div id="logo">
      <div class="row logos">
          <div class="col s12 m1 offset-s4 offset-m2">
            <img src="/img/thumbnail_espol(blanco).jpg" id="logo-pagina">
          </div>
          <div class="col s12 m4 offset-s2">
              <h5>Sistema de</h5>
              <h4>Calificación y Desarrollo PPL</h4>
          </div>
      </div>
  </div>
  <nav>
    <!-- Dropdown Structure -->
    <ul id="dropdownPreguntasDesktop" class="dropdown-content">

      <li><a href="/profesores/preguntas/estimacion">Estimación</a></li>
      <li><a href="/profesores/preguntas/laboratorio">Laboratorio</a></li>
      <li><a href="/profesores/preguntas/tutorial">Tutorial</a></li>
    </ul>
    <ul id="dropdownPreguntasMobile" class="dropdown-content">
      <li><a href="/profesores/preguntas/estimacion">Estimación</a></li>
      <li><a href="profesores/preguntas/laboratorio">Laboratorio</a></li>
      <li><a href="profesores/preguntas/tutorial">Tutorial</a></li>
    </ul>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right">
        <li><a href="/profesores">Inicio</a></li>
        <li><a href="/profesores/leccion">Leccion</a></li>
        <li><a href="/profesores/grupos/">Grupos</a></li>
        <!--Dropdown button-->
        <li><a class="dropdown-button" href="#!" data-activates="dropdownPreguntasDesktop">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <i style="height: 64px; margin-right: 10px;" class="hide-on-small-only">
              <img src="/img/Salir.png" alt="" onclick="salir()" 
              style="cursor: pointer; vertical-align: middle;">
          </i>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/profesores">Home</a></li>
        <li><a href="/profesores/leccion">Leccion</a></li>
        <li><a href="/profesores/grupos">Grupos</a></li>
        <!--Dropdown button-->
        <li><a class="dropdown-button" data-activates="dropdownPreguntasMobile">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <i style="height: 64px; margin-right: 10px;">
              <img src="/img/Salir.png" alt="" onclick="salir()" 
              style="cursor: pointer; vertical-align: middle;">
          </i>
        </li>
      </ul>
    </div>
  </nav>
</div>
