dbbackup/
.idea/
node_modules/
public/bower_components
npm-debug.log
package-lock.json
yarn-error*
npm-error*
npm.error*
*.log
*.backup
docs/api/*
docs/code/_book/

public/imagenes
scripts/tmp
.idea/
*.csv
*.log*

app_api/ws/update/*.json
TODO

public/bower_components

app_client/cypress/screenshots/*

## ignorar builds
coverage/
!coverage/.gitkeep
reports/
!reports/.gitkeep
.nyc_output
!dist/index.html
*.mp4
tmux*
TODO
prueba.js
gist