node_modules/
npm-debug.log
public/bower_components
.idea/
.env
*.png
env.env
env.txt
*.csv
*.log*

## ignorar builds
coverage/
!coverage/.gitkeep
reports/
!reports/.gitkeep
.nyc_output
build.js*
dist/
!dist/index.html
*.mp4
## webpack files
.env_debug
docs/api/*
docs/code/_book/
package-lock.json
hacer
apache2/
yarn-error*
tmp*
npm-error*
npm.error*
*.log
*.backup
tmux*
TODO
app_realtime/realtime.js
prueba.js