node_modules/
public/bower_components
npm-debug.log
app_api/ws/update/*.json
scripts/tmp
.idea/
*.png
env.env
env.txt
*.csv
*.log*

## ignorar builds
app_client/estudiantes/dist/*.css
app_client/estudiantes/dist/*.js
app_client/estudiantes/dist/build-webpack.js

## webpack files
.postcssrc.js
.eslintrc
package.backup.json
karma.conf.js
gulpfile.js
webpack.config.js
data/db/*.bson
data/db/*.json
data/db/*
.env_debug
docs/api/*
docs/code/_book/
package-lock.json
hacer
apache2/
yarn-error*
npm-error*
npm.error*
*.log
*.backup
tmux*
TODO

node_modules
npm-debug.log
public/bower_components
.idea/
app_client/cypress/screenshots/*
env.env
env.txt
*.csv
*.log*

## ignorar builds
coverage/
!coverage/.gitkeep
reports/
!reports/.gitkeep
.nyc_output
build.js*
dist/
!dist/index.html
*.mp4
## webpack files
.env_debug
docs/api/*
docs/code/_book/
package-lock.json
hacer
apache2/
yarn-error*
tmp*
npm-error*
npm.error*
*.log
*.backup
tmux*
TODO
prueba.js
gist