<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/materialnote/css/materialNote.css">
		<link rel="stylesheet" type="text/css" href="./nuevaPreguntaStyles.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header id="navbar"></header>
		<main>
			<div class="container" id="preguntaNueva">
				<h1 class="center-align" v-if="pregunta.tipoLeccion!='tutorial'"><b>Nueva pregunta</b></h1>
				<h1 class="center-align" v-if="pregunta.tipoLeccion=='tutorial'"><b>Nueva sección</b></h1>
				<p class="center-align" id="created"><b>Creada por:</b> {{profesor.correo}}</p>
				<div class="row" id="row-crear-pregunta">
					<form class="col s12">
						<!--Tipos de preguntas y de leccion-->
						<section class="row" id="row-tipos">
							<div class="input-field col s6">
								<select id="tipo-pregunta">
									<option value="" disabled selected></option>
									<option value="justificacion">Justificación</option>
									<option value="opcion" >Opción múltiple</option>
									<option value="v_f">V/F</option>
								</select>
								<label>Tipo de pregunta:</label>
							</div>
							<div class="input-field col s6">
								<select id="tipo-leccion">
									<option value="" disabled selected></option>
									<option value='estimacion'>Estimación</option>
						      <option value='tutorial'>Tutorial</option>
						      <option value='laboratorio'>Laboratorio</option>
								</select>
								<label>Tipo de leccion:</label>
							</div>
						</section>
						<!--Capitulo-->
						<section class="row" id="row-capitulo">
							<div class="input-field col s6" id="div-select-materia">
								<label class="active">Materia</label>
								<select id="select-materia">
									<option value="" disabled selected></option>
						      <option value='FISG1002'>Física 2</option>
						      <option value='FISG1003'>Física 3</option>
						      <option value='FISG2001'>Física Conceptual</option>
								</select>
								
							</div>
							<div class="input-field col s6" id="div-select-capitulo">
								<label class="active">Capítulos</label>
							</div>
						</section>
						<!--Titulo-->
						<section class="row" id="row-nombre">
							<div class="input-field col s12">
								<input type="text" name="nombre" id="nombre" v-model="pregunta.nombre">
								<label for="nombre">Título</label>
							</div>
						</section>
						<!--Descripcion-->
						<section class="row" id="row-descripcion">
							<label>Descripción</label>
							<div class="input-field col s12">
								<div id="firstEditor" class="myEditor"></div>
							</div>
						</section>
						</div>
						<!--Subpregunta-->
						<section class="row" id="row-sub" v-show="pregunta.tipoLeccion=='tutorial'">
						</section>
						<!--Tiempo y puntaje-->
						<section class="row" id="tiempo-puntaje">
							<div class="input-field col s6">
								<input type="number" min="0" id="tiempo" v-model="pregunta.tiempoEstimado">
								<label for="tiempo" class="lblEditar">Tiempo total</label>
							</div>
							<div class="input-field col s6">
								<input type="number" min="0" id="puntaje" v-model="pregunta.puntaje">
								<label for="puntaje" class="lblEditar">Puntaje total</label>
							</div>
						</section>
						<!--Botones-->
						<section class="buttons row">
          		<a class="waves-effect waves-light btn pull right" @click="crearPregunta">Aceptar</a>
          		<a class="waves-effect waves-light btn" @click="cancelar">Cancelar</a>
          	</section>
					</form>
				</div>
				<!-- Modal Structure -->
				<div id="app">
					<div id="myModal" class="modal">
						<div class="modal-content">
							<p class="center-align">Pregunta creada correctamente</p>
							<p>¿Desea seguir creando preguntas?</p>
						</div>
						<modal></modal>
					</div>
				</div>
			</div>	
		</main>
		<footer>
			<script src="/materialnote/lib/jquery-2.1.4.js"></script>
			<script src="/bower_components/vue/dist/vue.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/materialnote/js/ckMaterializeOverrides.js"></script>
			<script src="/materialnote/js/materialNote.js"></script>
			<script src="/partials/navbar.js"></script>
			<script src="./nuevaPreguntaScript.js"></script>
		</footer>
	</body>
</html>