<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/materialnote/css/materialNote.css">
		<link rel="stylesheet" type="text/css" href="./nuevaPreguntaStyles.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header id="#navbar"></header>
		<main>
			<div class="container" id="preguntaNueva">
				<h1 class="center-align"><b>Nueva pregunta</b></h1>
				<p class="center-align" id="created"><b>Creada por:</b> {{profesor.correo}}</p>
				<div class="row" id="row-crear-pregunta">
					<form class="col s12">
						<!--Titulo-->
						<div class="row" id="row-nombre">
							<div class="input-field col s12">
								<input type="text" name="nombre" id="nombre" v-model="pregunta.nombre">
								<label for="nombre">Título</label>
							</div>
						</div>
						<!--Descripcion-->
						<div class="row" id="row-descripcion">
							<div class="input-field col s12">
								<div id="firstEditor" class="myEditor">
				        	
				        </div>
							</div>
						</div>
						<!--Tipos de preguntas y de leccion-->
						<div class="row" id="row-tipos">
							<div class="input-field col s6">
								<select id="tipo-pregunta">
									<option value="" disabled selected>seleccione...</option>
									<option value="opcion">Opcion multiple</option>
									<option value="v_f">V/F</option>
									<option value="justificacion">Justificacion</option>
								</select>
								<label>Tipo de pregunta:</label>
							</div>
							<div class="input-field col s6">
								<select id="tipo-leccion">
									<option value="" disabled selected>seleccione...</option>
									<option value='estimacion'>Estimación</option>
						      <option value='tutorial'>Tutorial</option>
						      <option value='laboratorio'>Laboratorio</option>
								</select>
								<label>Tipo de leccion:</label>
							</div>
						</div>
						<!--Capitulo-->
						<div class="row" id="row-capitulo" v-show="pregunta.tipoLeccion=='estimacion'">
							<div class="input-field col s9" id="div-select-capitulo">
								<label class="active">Capítulos</label>
							</div>
							<div class="col s3">
								<a class="waves-effect waves-light btn" href="#modalNuevoCapitulo">Nuevo capítulo</a>
							</div>
						</div>
						<!--Tutorial-->
						<div class="row" id="row-tutorial" v-show="pregunta.tipoLeccion=='tutorial'">
							<div class="input-field col s9" id="div-select-tutorial">
								<label class="lblEditar active">Tutorial</label>
							</div>
							<div class="col s3">
								<a class="waves-effect waves-light btn" href="#modalNuevoTutorial">Nuevo tutorial</a>
							</div>
						</div>
						<!--Laboratorio-->
						<div class="row" id="row-laboratorio" v-show="pregunta.tipoLeccion=='laboratorio'">
							<div class="input-field col s9" id="div-select-laboratorio">
								
								<label class="lblEditar active">Laboratorio</label>
							</div>
							<div class="col s3">
								<a class="waves-effect waves-light btn" href="#modalNuevoLaboratorio">Nuevo laboratorio</a>
							</div>
						</div>
						<!--Tiempo y puntaje-->
						<div class="row" id="tiempo-puntaje">
							<div class="input-field col s6">
								<input type="number" id="tiempo" v-model="pregunta.tiempoEstimado">
								<label for="tiempo" class="lblEditar">Tiempo estimado</label>
							</div>
							<div class="input-field col s6">
								<input type="number" id="puntaje" v-model="pregunta.puntaje">
								<label for="puntaje" class="lblEditar">Puntaje</label>
							</div>
						</div>
						<!--Botones-->
						<div class="buttons row">
          		<a class="waves-effect waves-light btn pull right" @click="crearPregunta">Aceptar</a>
          		<a class="waves-effect waves-light btn" @click="cancelar">Cancelar</a>
          	</div>
					</form>
				</div>
			

			 	<!-- Modal Structure -->
			  <div id="myModal" class="modal">
			    <div class="modal-content">
			      <p class="center-align">Pregunta creada correctamente</p>
			      <p>¿Desea seguir creando preguntas?</p>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat" @click="continuar">Si</a>
			      <a href="#!" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat" @click="regresar">No</a>
			    </div>
			  </div>

			  <!-- Modal Nuevo Capitulo Structure -->
			  <div id="modalNuevoCapitulo" class="modal">
			    <div class="modal-content">
			    	<h4 class="center-align">Nuevo capítulo</h4>
			    	<p class="center-align">Tipo: Estimación</p>
			      <div class="row">
			      	<div class="input-field col s12">
			      		<input type="text" name="nombreCapitulo" id="nombreCapitulo" v-model="nuevoCapitulo.nombre">
			      		<label for="nombreCapitulo">Nombre del capítulo</label>
			      	</div>
			      	<div class="input-field col s12">
			      		<select id="select-materia-estimacion">
					    		<option value="" disabled selected>Seleccione la materia</option>
						      <option value="FISG1002">Física 2</option>
						      <option value="FISG1003">Física 3</option>
					    	</select>
			      	</div>
			      	
			      </div>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat" @click="crearCapitulo()">Crear</a>
			      <a href="#!" id="cancelar" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			    </div>
			  </div>
				<!-- Modal Nuevo Tutorial Structure -->
			  <div id="modalNuevoTutorial" class="modal">
			    <div class="modal-content">
			    	<h4 class="center-align">Nuevo tutorial</h4>
			    	<p class="center-align">Tipo: Tutorial</p>
			      <div class="row">
			      	<div class="input-field col s12">
			      		<input type="text" name="nombreTutorial" id="nombreTutorial" v-model="nuevoTutorial.nombre">
			      		<label for="nombreTutorial">Nombre del tutorial</label>
			      	</div>
			      	<div class="input-field col s12">
			      		<select id="select-materia-tutorial">
					    		<option value="" disabled selected>Seleccione la materia</option>
						      <option value="FISG1002">Física 2</option>
						      <option value="FISG1003">Física 3</option>
					    	</select>
			      	</div>
			      	
			      </div>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat" @click="crearTutorial()">Crear</a>
			      <a href="#!" id="cancelar" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			    </div>
			  </div>
			  <!-- Modal Nuevo Laboratorio Structure -->
			  <div id="modalNuevoLaboratorio" class="modal">
			    <div class="modal-content">
			    	<h4 class="center-align">Nuevo laboratorio</h4>
			    	<p class="center-align">Tipo: Laboratorio</p>
			      <div class="row">
			      	<div class="input-field col s12">
			      		<input type="text" name="nombreLaboratorio" id="nombreLaboratorio" v-model="nuevoLaboratorio.nombre">
			      		<label for="nombreLaboratorio">Nombre del laboratorio</label>
			      	</div>
			      	<div class="input-field col s12">
			      		<select id="select-materia-laboratorio">
					    		<option value="" disabled selected>Seleccione la materia</option>
						      <option value="FISG1002">Física 2</option>
						      <option value="FISG1003">Física 3</option>
					    	</select>
			      	</div>
			      	
			      </div>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat" @click="crearLaboratorio()">Crear</a>
			      <a href="#!" id="cancelar" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			    </div>
			  </div>
			</div>	
		</main>
		<footer>
			<script src="/materialnote/lib/jquery-2.1.4.js"></script>
			<script src="/bower_components/vue/dist/vue.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/materialnote/js/ckMaterializeOverrides.js"></script>
			<script src="/materialnote/js/materialNote.js"></script>
			<script src="./nuevaPreguntaScript.js"></script>
			<script src="/js/navbar.js"></script>
		</footer>
	</body>
</html>