<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
  	<link href="/css/summernote.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./nuevaPreguntaStyles.css">
	</head>
	<body>
		<main>
			<div class="container" id="preguntaNueva">
				<h1 class="text-center">Nueva pregunta</h1>
				<p class="text-center">Creada por: </p>
				<form>
					<!--Titulo-->
					<div class="form-group">
						<label for="titulo">Título</label>
						<input type="text" name="titulo" id="titulo" class="form-control" v-model="pregunta.titulo">
					</div>
					<!--Descripcion-->
	        <div id="summernote">
	        	Hello Summernote
	        </div>
	        <!--File uploader-->


	        <!--Tipos de preguntas y de leccion-->
	        <div class="row row-tipos-pregunta">
	        	<div class="col-xs-6">
	        		<label for="tipo-pregunta">Tipo de pregunta: </label>
	        		  <select class="form-control" id="tipo-pregunta" v-model="pregunta.tipoPregunta">
							    <option value="" disabled selected></option>
									<option value="Opcion multiple">Opcion multiple</option>
									<option value="V/F">V/F</option>
									<option value="Justificacion">Justificacion</option>
							  </select>
	        	</div>
	        	<div class="col-xs-6">
	        		<label for="tipo-leccion">Tipo de lección: </label>
	        		  <select class="form-control" id="tipo-leccion" v-model="pregunta.tipoLeccion">
							    <option value="" disabled selected></option>
									<option value='Estimación'>Estimación</option>
						      <option value='Tutorial'>Tutorial</option>
						      <option value='Laboratorio'>Laboratorio</option>
							  </select>
	        	</div>
	        </div>					
					<!--Capitulo-->
					<div v-if="pregunta.tipoLeccion=='Estimación'" class="row">
						<div class="col-xs-12" id="col-capitulo">
							<label for="capitulo">Capítulo</label>
							<input type="text" name="capitulo" id="capitulo" v-model="pregunta.capitulo" class="form-control">
						</div>
					</div>
					<!--Tutorial-->
					<div v-else-if="pregunta.tipoLeccion=='Tutorial'" class="row">
						<div class="col-xs-12" id="col-tutorial">
							<label for="tutorial">Tutorial</label>
							<input type="text" name="tutorial" id="tutorial" v-model="pregunta.tutorial" class="form-control">
						</div>
					</div>
					<!--Laboratorio-->
					<div v-else-if="pregunta.tipoLeccion=='Laboratorio'" class="row">
						<div class="col-xs-12" id="col-laboratorio">
							<label for="laboratorio">Laboratorio</label>
							<input type="text" name="laboratorio" id="laboratorio" v-model="pregunta.laboratorio" class="form-control">
						</div>
					</div>
					<!--Tiempos estimados-->
					<div class="row row-tiempos-estimados">
						<div class="col-xs-6">
							<label for="tiempo-estimado">Tiempo estimado:</label>
							<input type="number" name="tiempo-estimado" id="tiempo-estimado" v-model="pregunta.tiempoEstimado" class="form-control">
						</div>
						<div class="col-xs-6">
							<label for="tiempo-bandera">Tiempo bandera naranja: </label>
							<input type="number" name="tiempo-bandera" id="tiempo-bandera" v-model="pregunta.tiempoBandera" class="form-control">
						</div>
					</div>
					
					{{pregunta}}
				</form>
			</div>	
		</main>
		<footer>
			<script src="https://unpkg.com/vue"></script>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script src="/js/summernote.js"></script>
			<script src="./nuevaPreguntaScript.js"></script>
		</footer>
	</body>
</html>