body{
	background-color:   #d3dbdb;
}

.row, .botones{
	margin-top: 2%;
}
.container{
	background-color: rgba(255,255,255,0.7);
	padding: 5%;
}
.note-editable{
	background-color: white;
}
.note-toolbar{
	margin-bottom: 1%;
}
.note-editable p{
	margin-top: 0px;
	margin-bottom: 0px;
}
#nombre{
	font-size: 3em;
}
#created{
	color:grey;
}
.modal-content{
	background-color: #001a43;
}
.editorDialogs .modal .modal-footer, .note-editor .modal .modal-footer{
	background-color: #001a43;
}