body{
	background-color:   #d3dbdb;
}

.row, .botones{
	margin-top: 2%;
}
.container{
	background-color: rgba(255,255,255,0.7);
	padding: 5%;
}
.note-editable{
	background-color: white;
}
.note-toolbar{
	margin-bottom: 1%;
}
.note-editable p{
	margin-top: 0px;
	margin-bottom: 0px;
}
#nombre{
	font-size: 3em;
}
#created{
	color:grey;
}
.modal-content{
	background-color: #001a43;
}
.modal-content h4{
	color: white;
}
.modal-content p{
	color: grey;
}
#nombreCapitulo, #nombreTutorial, #nombreLaboratorio{
	border-bottom-color: #F5b400 !important;
	color: white; 
}
.modal .modal-footer{
	background-color: #001a43;
}
.editorDialogs .modal .modal-footer, .note-editor .modal .modal-footer{
	background-color: #001a43;
}
#crear{
	background-color: #B71C1C;
	color: white;
}
#cancelar{
	background-color: #4a148c;
	color: white;
}

.log ul .player-turn {
	color: blue;
	background-color: #e4e8ff;
}

.row-buttons{
	padding-right: 5%;
}

.btn-floating{
	margin-top: 4%;
}

.section-pt-btn{
	padding-left: 2%;
}