<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/bower_components/offline/themes/offline-language-spanish-indicator.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./panelStyle.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/offline-theme-dark-indicator.css">
  <!-- <link rel="stylesheet" href="/css/offline-theme-slide.css"> -->
  <!-- <link rel="stylesheet" href="/css/offline-theme-dark.css"> -->
  <title>Profesor</title>
</head>
<body>
  <header id="navbar"></header>
  <div id="app">
  	<div class="containere">
      <!-- Modal Structure -->
       <div id="modal1" class="modal">
         <div class="modal-content" style="text-align: center;">
           <h3>Número de Estudiantes que dieron la lección</h3>
           <h2>{{dataEstudiantes.length}}</h2>
         </div>
         <div class="modal-footer">
           <a href="/profesores/leccion" class="modal-action modal-close waves-effect waves-green btn-flat">SALIR</a>
         </div>
       </div>
      
      <section class="row" id="section-tabs">
          <br>
          <div class="col s12">
              <ul class="tabs" id="tabs-swipe-demo">
                <li class="tab col s6" id="t1"><a id = "ta1" class="active" href="#test1">Leccion</a></li>
                <li class="tab col s6 " id="t2"><a id= "ta2"href="#test2">Respuestas</a></li>
              </ul>
          </div>
          <div class="col s2">

          </div>
      </section>

      <div id="test1" class="col s12">
        <div class="botones">
        <!-- <button class="btn" type="button" id="leccion-no-dar" onclick="terminarLeccionDevelopment()">Cancelar lección</button> -->

        <br>
          <div class="row">
            <div class="col s4">
              <button class="btn boton"  id='comenzar-leccion'type="button">comenzar lección</button>
            </div>
            <div class="col s4">
              <button class="btn boton red" type="button" id="terminar-leccion" onclick="terminarLeccion()">terminar lección</button>
            </div>
            <div class="col s1">
              <!-- <input type="number" v-model="mas_tiempo" min="0" name="" value=""> -->
            </div>
            <div class="col s1">
              <input type="number" v-model="mas_tiempo" id="input-tiempo"min="0" name="" value="">
            </div>
            <div class="col s2">
              <button class="btn boton blue" id="anadir-tiempo" onclick="mas()">añadir</button>
            </div>
            <!-- <div>
              <button class="btn" onclick="terminarPrueba()">prua terminar</button>
            </div> -->
          </div>
          <div class="row">
            <div class="col s6">
              <button class="btn boton blue" id="pausar-leccion" onclick="pausar()">Pausar</button>
            </div>
            <div class="col s6">
              <button class="btn boton blue" id="continuar-leccion" onclick="continuar()">Continuar</button>
            </div>
          </div>
        </div>
        <p v-show="false" class="center-align">Estudiantes conectados: {{estudiantes_conectados}}</p> <!--por alguna razon si no lo pongo no muesta los estudiantes-->
        <!-- <p>{{grupos}}</p> -->
        <!-- <p>{{paralelo}}</p> -->
        <h4>Tiempo: {{tiempo}} </h4>
        <span class="center-align">
          <h3>Código</h3>
          <h3 class="code">{{leccion.codigo}}</h3>
        </span>
        <!-- <div v-for="estudiante in estudiantes_conectados">
	      <p>{{estudiante.nombres}}</p>
        </div> -->  
        <div class="estudiantes row">
          <div v-for="(grupo, index) in paralelo.grupos">
            <div v-if="index%2 == 0" class = "divisor"></div>
              <div class="col s6 grupin estudiantes" v-if="grupo.estudiantes.length != 0">
                <div class="group-name center-align">{{grupo.nombre}}  <i class="fa fa-group fa-lg" style="float: right;">{{obtenerConectados(grupo._id)}}/{{grupo.estudiantes.length}}</i></div>
                <div v-for="estudiante in grupo.estudiantes">
                  <div class="" style="float: left">
                    <div class="switch">
                      <label>
                        <!-- <input type="checkbox" v-on:change="bloquearEstudiante(estudiante._id)">
                        <span class="lever"></span> -->
                      </label>
                    </div>
                  </div>
                  <div class="student left-align "> <div class="offline" v-bind:id="estudiante._id"></div>    {{estudiante.nombres}} {{estudiante.apellidos}}
                    <span v-bind:id="'esperando-' + estudiante._id" style="float: right;" class=""></span>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div id="test2" class="row">
        <label>Respuestas</label>
        <br>
        <div class="col s12">
            <ul id="tabsRes" class="tabs tabs-fixed-width "></ul>
        </div>
        <div id="tabsResDiv" > 
          <div :id="pregunta.orden" class="col s12" v-for="(pregunta, index) in respuestasPreguntas"> 
            <div class="card grey">
              <div class="card-content">
                <p v-html="pregunta.descripcion" name="descripcion"></p>
              </div>
            </div>
            <div class="collection  card-panel col s12 m12 l12" v-for="(respuesta, index) in pregunta.respuestas" v-if="pregunta.respuestas.length > 0">
              <p><i class="material-icons cyan-text text-darken-2">group</i>{{respuesta.grupoNombre}}</p>
              <p><i class="material-icons cyan-text text-darken-2">person</i>Estudiante : {{respuesta.estudianteNombre}} {{respuesta.estudianteApellido}}</p>
              <ul id="projects-collection" class="collection">
                <li class="collection-item col s12 m12 l12" v-for="(sub, index) in respuesta.subpreguntas" v-if="sub.respuesta">
                  <header class="center-align">
                    <h5 class="title-sub"><b>Pregunta #{{sub.orden}}</b></h5>
                  </header>
                  <article class="col s12 l12">
                    <label><h6 class="collections-title indigo-text text-darken-4" >Descripción: </h6></label>
                    <p v-html="sub.contenido"></p>
                  </article>
                  <div class="row">
                    <div class="col s8">
                      <p class="collections-title indigo-text text-darken-4">Respuesta:</p>
                      <p class="collections-content">{{sub.respuesta}}</p>
                    </div>
                    <div class="col s4">
                      <img class="materialboxed responsive-img" :data-caption="sub.respuesta" width="250" :src="sub.imagen">
                    </div>
                  </div>
                </li>
              </ul>  
            </div>
          </div>
        </div>
      </div> <!-- fin test2 -->
        
    </div>
    
  </div>
  <script src="/bower_components/offline/offline.min.js"></script>
  <script src="/bower_components/lodash/dist/lodash.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/vue/dist/vue.min.js"></script>
  <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
  <script src="/bower_components/materialize/bin/materialize.js"></script>
  <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="/partials/navbar.js"></script>
  <script src="./app.js"></script>
</body>
</html>
