<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./panelStyle.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <title>Profesor</title>
</head>
<body>
  <header id="#navbar"></header>
  <div id="app">
  	<div class="container">
      <div class="botones">
        <!-- <button class="btn" type="button" id="terminar-leccion-delelopment" onclick="terminarLeccionDevelopment()">parar development</button> -->
        <button class="btn boton"  id='comenzar-leccion'type="button" v-on:click="tomarLeccion()">comenzar lección</button>
        <button class="btn boton" type="button" id="terminar-leccion" onclick="terminarLeccion()">terminar lección</button>
      </div>
	    <p v-show="false" class="center-align">Estudiantes conectados: {{estudiantes_conectados}}</p> <!--por alguna razon si no lo pongo no muesta los estudiantes-->
	    <!-- <p>{{grupos}}</p> -->
	    <!-- <p>{{paralelo}}</p> -->
	    <h4>Tiempo: {{tiempo}} </h4>
	    <span class="center-align">
	    	<h3>Código</h3>
		    <h3 class="code">{{leccion.codigo}}</h3>
	    </span>
	    <!-- <div v-for="estudiante in estudiantes_conectados">
	      <p>{{estudiante.nombres}}</p>
	    </div> -->
	    <div class="estudiantes row">
	    	<div v-for="(grupo, index) in paralelo.grupos">
		      <div v-if="index%3 == 0" class = "divisor"></div>
            <div class="col s4 grupin">
              <p class="group-name center-align">{{grupo.nombre}}</p>
              <div v-for="estudiante in grupo.estudiantes_conectados">
                <p class="student center-align">{{estudiante.nombres}} {{estudiante.apellidos}}</p>
              </div>
            </div>  
		    </div>
	    </div>

  	</div>
  </div>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/vue/dist/vue.min.js"></script>
  <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
  <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="/bower_components/materialize/bin/materialize.js"></script>
  <script src="./app.js" async></script>
</body>
</html>
