body{
	background: linear-gradient(to bottom, rgba(51, 102, 153,0.1), rgba(51, 102, 153,0.6))  no-repeat center center fixed; /*Standard*/
}

div.botones {
  margin-top: 2%;
  text-align: center;
}

btn {
 background-color: #000 !important;
}

div.grupin{
	/*max-height: 400px;*/
	margin-bottom: 25px;
	border: 1px;
	border-color: rgba(0,0,0,0.5);
}
div.estudiantes{
	background-color: rgba(255,255,255,0.3);
	padding: 0%;
}

h3.code{
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}
p.group-name{
	font-size: 2em;
	font-weight: bold;
}
