body{
	background-color:   #d3dbdb;
}

div.botones {
	padding-top: 2%;
	text-align: center;
}
btn {
 background-color: #000 !important;
}

.container{
	background-color: white;
	padding: 2%;
	height: 100%;

}
div.grupin{
	/*max-height: 400px;*/
	margin-bottom: 25px;
}
div.estudiantes{
	background-color: rgba(255,255,255,0.3);
	padding: 0%;
}

h3.code{
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}
p.group-name{
	font-size: 2em;
	font-weight: bold;
}
.clearer{
	clear:both;
}

.group-name{
	font-weight: bold;
	background-color: rgba(192,192,192,0.5);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	margin-bottom: 0px;
}
.student{
	border: 1px solid rgba(192,192,192,0.5);
	border-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.divisor{
	padding-bottom: 4%;
	width: inherit;
	height: inherit;
	clear: both;
}

/*span {
    background-color: green;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    float: left;
    font-weight: bold;
    font-family: sans-serif;
}

.green { background-color: green }
.red { background-color: red; }
.yellow { background-color: yellow }*/


div.estado {
  position:fixed;
  top:15%;
  margin-left: 10%;
}
