<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialnote/css/materialNote.css">
  	<link rel="stylesheet" type="text/css" href="./verPreguntaStyles.css">
  	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header>
			<nav>
				<!-- Dropdown Structure -->
				<ul id="dropdownPreguntasDesktop" class="dropdown-content">
				  <li><a href="../../estimacion">Estimación</a></li>
				  <li><a href="../../laboratorio">Laboratorio</a></li>
				  <li><a href="../../tutorial">Tutorial</a></li>
				</ul>
				<ul id="dropdownPreguntasMobile" class="dropdown-content">
				  <li><a href="../../estimacion">Estimación</a></li>
				  <li><a href="../../laboratorio">Laboratorio</a></li>
				  <li><a href="../../tutorial">Tutorial</a></li>
				</ul>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Profesor</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../../grupos">Grupos</a></li>
		        <!--Dropdown button-->
		        <li><a class="dropdown-button" href="#!" data-activates="dropdownPreguntasDesktop">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../../grupos">Grupos</a></li>
		        <!--Dropdown button-->
		        <li><a class="dropdown-button" data-activates="dropdownPreguntasMobile">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
		      </ul>
				</div>
			</nav>
		</header>
		<main>
			<div class="container" id="pregunta">

				<div class="row" id="row-pregunta" v-show="aux">
	        <div class="col s12">
	          <div class="card">
	            <div class="card-content">
	              <!--Nombre-->
	              <div class="row nombre">
	              	<span class="card-title center-align" id="nombre">{{preguntaObtenida.nombre}}</span>
	              </div>
	              <!--Creado por-->
	              <div class="row creador">
	              	<p class="center-align">Creada por: {{preguntaObtenida.creador}}</p>
	              </div>
	              <!--Descripcion-->
	              <div class="row descripcion">
	              	<label>Descripción</label>
		              <div id="divDescripcion">
		              	<p v-html="preguntaObtenida.descripcion"></p>	
		              </div>
	              </div>
	              <!--Tipos-->
	              <div class="tipos row">
	              	<div class="pull left">
	              		<label>Tipo de pregunta:</label>
	              		<p>{{preguntaObtenida.tipoPregunta}}</p>
	              	</div>
									<div class="pull right">
										<label>Tipo de lección: </label>
										<p>{{preguntaObtenida.tipoLeccion}}</p>
									</div>
	              </div>
	              <!--Tiempo y puntaje-->
	              <div class="tiempo-puntaje row">
	              	<div class="pull left">
	              		<label>Tiempo estimado:</label>
	              		<p>{{preguntaObtenida.tiempoEstimado}} minutos</p>
	              	</div>
									<div class="pull right">
										<label>Puntaje: </label>
										<p>{{preguntaObtenida.puntaje}} puntos</p>
									</div>
	              </div>
	              <!--Capitulo/laboratorio/tutorial-->
	              <div class="capitulo row" v-if="preguntaObtenida.tipoLeccion=='estimacion'">
	              	<label>Capítulo</label>
	              	<p>{{preguntaObtenida.capitulo}}</p>
	              </div>
	              <!--Laboratorio-->
	              <div class="laboratorio row" v-if="preguntaObtenida.tipoLeccion=='laboratorio'">
	              	<label>Laboratorio</label>
	              	<p>{{preguntaObtenida.laboratorio}}</p>
	              </div>
	              <!--Tutorial-->
	              <div class="tutorial row" v-if="preguntaObtenida.tipoLeccion=='tutorial'">
	              	<label>Tutorial</label>
	              	<p>{{preguntaObtenida.tutorial}}</p>
	              </div>
	            	<div class="buttons row">
	            		<a class="waves-effect waves-light btn pull right" @click="mostrarEditar">Editar</a>
	            		<a class="waves-effect waves-light btn">Eliminar</a>
	            	</div>
	            </div>
	            
	          </div>
	        </div>
	      </div>

	      <div class="row" id="row-editar-pregunta" v-show="!aux">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<div class="row">
									<h1 class="center-align">Editar pregunta</h1>
									<p class="center-align">Creada por: </p>
								</div>
								<div class="row" id="row-editar-form">
									<form class="col s12">
										<!--Nombre-->
										<div class="row row-editar" id="row-editar-nombre">
											<div class="input-field col s12">
												<input type="text" id="nombreEditar">
												<label for="nombreEditar">Nombre</label>
											</div>
										</div>
										<!--Descripcion-->
										<div class="row row-editar" id="row-editar-descripcion">
											<div class="input-field col s12">
												<div id="firstEditor" class="myEditor">
								        	
								        </div>
											</div>
										</div>
										<!--File uploader-->
										<!--Tipos de preguntas y de leccion-->
										<div class="row row-editar" id="row-editar-tipos">
											<div class="input-field col s6">
												<select id="select-editar-tipo-pregunta">
													<option value="" disabled selected></option>
													<option value="opcion">Opcion multiple</option>
													<option value="v_f">V/F</option>
													<option value="justificacion">Justificacion</option>
												</select>
												<label>Tipo de pregunta:</label>
											</div>
											<div class="input-field col s6">
												<select id="select-editar-tipo-leccion">
													<option value="" disabled selected></option>
													<option value='estimacion'>Estimación</option>
										      <option value='tutorial'>Tutorial</option>
										      <option value='laboratorio'>Laboratorio</option>
												</select>
												<label>Tipo de leccion:</label>
											</div>
										</div>
										
										<!--Capitulo-->
										<div class="row row-editar" id="row-editar-capitulo">
											<div class="input-field col s12">
												<input type="text" id="in-editar-capitulo">
												<label for="in-editar-capitulo">Capítulo</label>
											</div>
										</div>
										<!--Tutorial-->
										<div class="row row-editar" id="row-editar-tutorial">
											<div class="input-field col s12">
												<input type="text" id="in-editar-tutorial">
												<label for="in-editar-tutorial">Tutorial</label>
											</div>
										</div>
										<!--Laboratorio-->
										<div class="row row-editar" id="row-editar-laboratorio">
											<div class="input-field col s12">
												<input type="text" id="in-editar-laboratorio">
												<label for="in-editar-laboratorio">Laboratorio</label>
											</div>
										</div>

										<!--Tiempo y puntaje-->
										<div class="row row-editar" id="row-editar-tiempo-puntaje">
											<div class="input-field col s6">
												<input type="number" id="in-editar-tiempo">
												<label for="in-editar-tiempo">Tiempo estimado</label>
											</div>
											<div class="input-field col s6">
												<input type="number" id="in-editar-puntaje">
												<label for="in-editar-puntaje">Puntaje</label>
											</div>
										</div>
										<!--Botones-->
										<div class="buttons row">
			            		<a class="waves-effect waves-light btn pull right" @click="mostrarEditar">Aceptar</a>
			            		<a class="waves-effect waves-light btn" @click="mostrarEditar">Cancelar</a>
			            	</div>
									</form>
								</div>
								
							</div>
						</div>
					</div>
	      </div>

			</div>	
		</main>
		<footer>
			<script src="/bower_components/materialnote/lib/jquery-2.1.4.js"></script>
			<script src="/bower_components/vue/dist/vue.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/bower_components/materialnote/js/ckMaterializeOverrides.js"></script>
			<script src="/bower_components/materialnote/js/materialNote.js"></script>
			<script src="./verPreguntaScript.js"></script>
		</footer>
	</body>
</html>