<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/materialnote/css/materialNote.css">
  	<link rel="stylesheet" type="text/css" href="./verPreguntaStyles.css">
  	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header id="navbar"></header>
		<main>
			<div class="container" id="pregunta" v-if="dataFinishedLoading">
				<!--Ver pregunta-->
				<section class="row" id="row-ver-pregunta" v-show="aux">
	        <div class="col s12">
	          <div class="card">
	            <div class="card-content">
	              <!--Nombre-->
	              <section class="row row-ver" id="row-ver-nombre">
	              	<span class="card-title center-align" id="nombre">{{preguntaObtenida.nombre}}</span>
	              </section>
	              <!--Creado por-->
	              <section class="row row-ver center-align" id="row-ver-creador">
	              	<p><b>Creada por:</b></p>
	              	<p>{{preguntaObtenida.creador.nombres}} {{preguntaObtenida.creador.apellidos}}</p>
	              </section>
	              <!--Descripcion-->
	              <section class="row row-ver" id="row-ver-descripcion">
	              	<label>Descripción</label>
		              <div id="divDescripcion">
		              	<p v-html="preguntaObtenida.descripcion"></p>	
		              </div>
								</section>
								<!--Subpreguntas -->
								<section class="row row-ver" id="row-ver-subpreguntas" v-if="tieneSubpreguntas">
									<article v-for="(subpregunta, index) in preguntaObtenida.subpreguntas" class="article-subpregunta">
										<label>Subpregunta #{{index+1}}</label>
										<section class="section-subpregunta">
											<p v-html="subpregunta.contenido" class="descripcion-subpregunta"></p>
											<p class="pull right">{{subpregunta.puntaje}}pts.</p>
										</section>
									</article>
								</section>
							  <!-- Opcion multiple -->
								<!--<div class="row row-ver" id="row-ver-opciones" v-if="preguntaObtenida.tipoPregunta=='opcion'">
									<label>Opciones:</label>
									<ul v-for="opcion in preguntaObtenida.opciones">
										<div v-for="(value, key, index) in opcion">
											<p>{{key}}: {{value}} </p>
										</div>
									</ul>
								</div>-->
	              <!--Tipos-->
	              <section class="row row-ver" id="row-ver-tipos">
	              	<div class="pull left">
	              		<label>Tipo de pregunta:</label>
	              		<p>{{preguntaObtenida.tipoPregunta}}</p>
	              	</div>
									<div class="pull right">
										<label>Tipo de lección: </label>
										<p>{{preguntaObtenida.tipoLeccion}}</p>
									</div>
	              </section>
	              <!--Tiempo y puntaje-->
	              <section class="row row-ver" id="row-tiempo-puntaje">
	              	<div class="pull left">
	              		<label>Tiempo estimado:</label>
	              		<p>{{preguntaObtenida.tiempoEstimado}} minutos</p>
	              	</div>
									<div class="pull right">
										<label>Puntaje total: </label>
										<p>{{preguntaObtenida.puntaje}} puntos</p>
									</div>
	              </section>
	              <!--Capitulo/laboratorio/tutorial-->
	              <section class="row row-ver" id="row-ver-capitulo" v-if="preguntaObtenida.tipoLeccion=='estimacion'">
	              	<label>Capítulo</label>
	              	<p>{{preguntaObtenida.capitulo}}</p>
	              </section>
	              <!--Laboratorio-->
	              <section class="row row-ver" id="row-ver-laboratorio" v-if="preguntaObtenida.tipoLeccion=='laboratorio'">
	              	<label>Laboratorio</label>
	              	<p>{{preguntaObtenida.laboratorio}}</p>
	              </section>
	              <!--Tutorial-->
	              <section class="row row-ver" id="row-ver-tutorial" v-if="preguntaObtenida.tipoLeccion=='tutorial'">
	              	<label>Tutorial</label>
	              	<p>{{preguntaObtenida.tutorial}}</p>
	              </section>
	            	<section class="row row-ver" id="row-ver-btn">
	            		<a class="waves-effect waves-light btn pull right" @click="mostrarEditar" v-if="editable">Editar</a>
	            		<a class="waves-effect waves-light btn"  href="#modalEliminar" v-if="eliminable">Eliminar</a>
	            	</section>
	            </div>
	          </div>
	        </div>
	      </section>
	      <!-- Fin ver pregunta -->
	      <!--Editar pregunta-->
	      <section class="row" id="row-editar-pregunta" v-show="!aux">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<header class="row row-editar center-align">
									<h1>Editar pregunta</h1>
									<p><b>Creada por:</b></p>
	              	<p>{{preguntaObtenida.creador.nombres}} {{preguntaObtenida.creador.apellidos}}</p>
								</header>
								<main class="row" id="row-editar-form">
									<form class="col s12">
										<!--Nombre-->
										<section class="row row-editar" id="row-editar-nombre">
											<div class="input-field col s12">
												<input type="text" id="nombreEditar" v-model="preguntaEditar.nombre">
												<label for="nombreEditar" class="lblEditar">Nombre</label>
											</div>
										</section>
										<!--Descripcion-->
										<section class="row row-editar" id="row-editar-descripcion">
											<label>Descripción</label>
											<div class="input-field col s12">
												<div id="firstEditor" class="myEditor"></div>
											</div>
										</section>
										<!--Subpreguntas-->
										<section class="row row-editar" id="row-editar-subpreguntas" v-if="tieneSubpreguntas">
										</section>
										<!--Tipos-->
										<section class="row row-editar" id="row-editar-tipos">
											<article class="input-field col s6">
												<select id="select-editar-tipo-pregunta" v-model="preguntaEditar.tipoPregunta">
													<option value="" disabled selected></option>
													<option value="opcion">Opcion multiple</option>
													<option value="v_f">V/F</option>
													<option value="justificacion">Justificacion</option>
												</select>
												<label>Tipo de pregunta:</label>
											</article>
											<article class="input-field col s6">
												<select id="select-editar-tipo-leccion" v-model="preguntaEditar.tipoLeccion">
													<option value="" disabled selected></option>
													<option value='estimacion'>Estimación</option>
										      <option value='tutorial'>Tutorial</option>
										      <option value='laboratorio'>Laboratorio</option>
												</select>
												<label>Tipo de leccion:</label>
											</article>
										</section>
										<!--Capitulo-->
										<section class="row row-editar" id="row-editar-capitulo" v-show="preguntaEditar.tipoLeccion=='estimacion'">
											<div class="input-field col s12">
												<input type="text" id="in-editar-capitulo" v-model="preguntaEditar.capitulo">
												<label for="in-editar-capitulo" class="lblEditar">Capítulo</label>
											</div>
										</section>
										<!--Tutorial-->
										<section class="row row-editar" id="row-editar-tutorial" v-show="preguntaEditar.tipoLeccion=='tutorial'">
											<div class="input-field col s12">
												<input type="text" id="in-editar-tutorial" v-model="preguntaEditar.tutorial">
												<label for="in-editar-tutorial" class="lblEditar">Tutorial</label>
											</div>
										</section>
										<!--Laboratorio-->
										<section class="row row-editar" id="row-editar-laboratorio" v-show="preguntaEditar.tipoLeccion=='laboratorio'">
											<div class="input-field col s12">
												<input type="text" id="in-editar-laboratorio" v-model="preguntaEditar.laboratorio">
												<label for="in-editar-laboratorio" class="lblEditar">Laboratorio</label>
											</div>
										</section>

										<!--Tiempo y puntaje-->
										<section class="row row-editar" id="row-editar-tiempo-puntaje">
											<div class="input-field col s6">
												<input type="number" id="in-editar-tiempo" v-model="preguntaEditar.tiempoEstimado">
												<label for="in-editar-tiempo" class="lblEditar">Tiempo estimado</label>
											</div>
											<div class="input-field col s6">
												<input type="number" id="in-editar-puntaje" v-model="preguntaEditar.puntaje">
												<label for="in-editar-puntaje" class="lblEditar">Puntaje</label>
											</div>
										</section>
										<!--Botones-->
										<section class="buttons row">
			            		<a class="waves-effect waves-light btn pull right" @click="actualizarPregunta">Aceptar</a>
			            		<a class="waves-effect waves-light btn" @click="mostrarEditar">Cancelar</a>
			            	</section>
									</form>
								</main>
							</div>
						</div>
					</div>
	      </section>
	      <!-- Fin editar pregunta -->
	      <!-- Modal Eliminar Structure -->
			  <div id="modalEliminar" class="modal">
			    <div class="modal-content">
			      <h4 class="center-align">Eliminar</h4>
			      <p class="center-align">¿Desea eliminar la pregunta?</p>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" @click="eliminarPregunta">Eliminar</a>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat pull left">Cancelar</a>
			    </div>
			  </div>
			</div>
		</main>
		<footer>
			<div id="myModal" class="modal">
		    <div class="modal-content"></div>
			</div>
			<script src="/materialnote/lib/jquery-2.1.4.js"></script>
			<script src="/bower_components/vue/dist/vue.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/materialnote/js/ckMaterializeOverrides.js"></script>
			<script src="/materialnote/js/materialNote.js"></script>
			<script src="/partials/navbar.js"></script>
			<script src="./verPreguntaScript.js"></script>
		</footer>
	</body>
</html>