#divDescripcion{
	border: 1px solid grey;
	padding: 3%;
	margin: 2% 0;
}

#row-pregunta, #row-editar-pregunta{
	margin-top: 3%;
}

.card{
	padding: 0 2%;
	opacity: 0.8;
	border-radius: 1%;
}

.card .card-title{
	color: black
}

#nombre{
	font-weight: bold
}

body{
	background: linear-gradient(to bottom, rgba(51, 102, 153,0.1), rgba(51, 102, 153,0.6))  no-repeat center center fixed; /*Standard*/
}