
.clearer{
			clear: left;
		}
.calificacion-good{
	background-color:  rgba(255,255,255,0.6);
}
.calificacion-reg{
	background-color: rgba(255, 255, 0, 0.4);
}
.take{
	background-color: #42a5f5;
}
#grad{
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom, #42a5f5,  #42a5f5)  no-repeat center center fixed; /*Standard*/
}
tr{
	background-color: rgba(255,255,255,0.3);
}
.titles{
	background-color: rgba(255,255,255,0.6);
}

#codigo:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#codigo.valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#codigo.invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}



div.disabled {
  display: none;
}

div#loader {
  margin-top: 5%;
}

div.enable {
  display: block;
  text-align: center;
  margin-top: 0%;
}

h2.mensaje {

}
