.v-center{
	margin-top: 20%;
}
.code{

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  0.5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  0.5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}

#codigo{
	width: 40%;
	font-size: 2.5em;
	margin-top: 2%;
	text-align: center;
}
h1, h2{
	color:rgba(0,0,0,0.6);
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}