<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Rúbrica</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="./style.css">
	</head>
	<body>
		<header id="#navbar"></header>
		<main id="rubricaApp" class="container"> 
			<section class="row" id="seccionHeader">
				<article class="col s12 m12 header">
					<header>
						<h4 class="center-align title">Rúbrica exposición de problema en grupo</h4>
					</header>
					<main id="mainSelecciones">
						<section class="row">
							<div class="col s12 m12 center-align">
								{{profesor.nombres}} {{profesor.apellidos}}						
							</div>
						</section>
						<section class="row">
							<div class="col s4 input-field">
								<label class="active">Fecha</label>
								<input :value="Ѿ">
							</div>
							<div class="col s4 input-field">	
								<select id="selectMateria">
									<option value="" disabled selected></option>
									<option v-for="materia in materias">{{materia}}</option>
								</select>
								<label>Materias</label>
							</div>
							<div class="col s4 input-field">	
								<select id="selectCapitulo">
									<option value="" disabled selected></option>
									<option v-for="capitulo in capitulos">{{capitulo}}</option>
								</select>
								<label>Capitulos</label>
							</div>	
						</section>
						<section class="row">
							<div class="col s4 input-field">	
								<select id="selectParalelo">
									<option value="" disabled selected></option>
									<option v-for="paralelo in paralelos">{{paralelo}}</option>
								</select>
								<label>Paralelo</label>
							</div>
							<div class="col s4 input-field">	
								<select id="selectGrupo">
									<option value="" disabled selected></option>
									<option v-for="grupo in grupos">{{grupo}}</option>
								</select>
								<label>Grupos</label>							
							</div>
							<div class="col s4 input-field">	
								<select id="selectEjercicio">
									<option value="" disabled selected></option>
									<option v-for="ejercicio in ejercicios">{{ejercicio}}</option>
								</select>
								<label>Ejercicios</label>
							</div>
						</section>
					</main>
				</article>
			</section>
			<section class="row" id="seccionReglas">
				<article class="col s12">
					<div class="col s10 m10 left-align offset-m1 #90caf9 blue lighten-3 title">Presentación</div>
					<br><br>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">La presentación fue clara y entendible</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="presentacion-1" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
				</article>
				<article class="col s12">
					<div class="col s10 m10 left-align offset-m1 #e6ee9c lime lighten-3 title">Trabajo en grupo</div> <br><br>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Los estudiantes permitieron que cada uno explique parte del problema.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="trabajoEnGrupo-1" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">La presentación de cada uno de los estudiantes demuestra conexión entre ellos y promueve discusión lógica del tema.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="trabajoEnGrupo-2" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Los miembros del grupo se tratan con respeto y cortesía.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="trabajoEnGrupo-3" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
				</article>
				<article class="col s12">
					<div class="col s10 m10 left-align offset-m1 #84ffff cyan accent-1 title">Introducción</div><br><br>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">La presentación del problema es clara y siguen un orden lógico en la presentación.	</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="introduccion-1" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">La física involucrada en el problema es explicada en forma clara y precisa.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="introduccion-2" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Explican claramente el objetivo del problema y cómo van a utilizar los conceptos físicos.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="introduccion-3" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
				</article>
				<article class="col s12">
					<div class="col s10 m10 left-align offset-m1 #ffecb3 amber lighten-4 title">Contenido individual</div><br><br>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Las expresiones matemáticas fueron apropiadas, detalladas y con respuestas correctas.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="contenidoIndividual-1" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Los estudiantes identifican el origen de las ecuaciones y sus limitaciones.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="contenidoIndividual-2" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Las teorías o leyes utilizadas fueron descritas y utilizadas con propiedad.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="contenidoIndividual-3" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
					<span class="sub-article col m10 offset-m2">
						<div class="col s10 m7 center-align">Las conclusiones están explícitamente ligadas al problema y son físicamente correctas.</div>
						<div class="input-field col s1 m1 offset-m2">
							<input id="contenidoIndividual-4" type="number" class="validate calificacion" min="0" max="2">
							<label for=""></label>
						</div>
					</span>
				</article>
			</section>
			<section class="row" id="seccionBotones">
				<div class="col m12">
					<div class="col m3 m6 offset-m3">
						<a class="waves-effect waves-light btn" @click="calificar">Calificar</a>
					</div>
					<div class="col m2 offset-m1">
						<p>Total <label>{{rubrica.calificacion}}/15</label></p>
					</div>
				</div>
			</section>

			<section id="modals">
				<!-- Modal Structure -->
			  <div id="modalCalificacionExitosa" class="modal">
			    <div class="modal-content center-align">
			      <h4 class="title">Calificación Exitosa</h4>
			      <p>Se ha ingresado su calificación a este ejercicio.</p>
			      <p>¿Desea seguir calificando o terminar?</p>
			    </div>
			    <div class="modal-footer row">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat col s6 center-align">Continuar</a>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat col s6 center-align">Terminar</a>
			    </div>
			  </div>
			</section>
		</main>
		<footer>
			<script src="/bower_components/jquery/dist/jquery.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/moment/moment.js"></script>
			<script src="./rubricaScript.js"></script>
		</footer>
	</body>
</html>