<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Rúbrica</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="./style.css">
	</head>
	<body>
		<header id="navbar"></header>
		<main id="rubricaApp" class="container"> 
			<section class="row" id="seccionHeader">
				<article class="col s12 m12 header">
					<header>
						<h4 class="center-align title">Rúbrica exposición de problema en grupo</h4>
					</header>
					<main id="mainSelecciones">
						<section class="row">
							<div class="col s12 m12 center-align">
								{{profesor.nombres}} {{profesor.apellidos}}						
							</div>
						</section>
						<section class="row">
							<div class="col s4 input-field">
								<label class="active">Fecha</label>
								<input :value="Ѿ">
							</div>
							<div class="col s4 input-field">	
								<select id="selectMateria">
									<option value="" disabled selected></option>
									<option v-for="materia in materias">{{materia}}</option>
								</select>
								<label>Materias</label>
							</div>
							<div class="col s4 input-field">	
								<select id="selectCapitulo">
									<option value="" disabled selected></option>
									<option v-for="capitulo in capitulos">{{capitulo}}</option>
								</select>
								<label>Capitulos</label>
							</div>	
						</section>
						<section class="row">
							<div class="col s4 input-field">	
								<select id="selectParalelo">
									<option value="" disabled selected></option>
									<option v-for="paralelo in paralelos">{{paralelo}}</option>
								</select>
								<label>Paralelo</label>
							</div>
							<div class="col s4 input-field">	
								<select id="selectGrupo">
									<option value="" disabled selected></option>
									<option v-for="grupo in grupos">{{grupo}}</option>
								</select>
								<label>Grupos</label>							
							</div>
							<div class="col s4 input-field">	
								<select id="selectEjercicio">
									<option value="" disabled selected></option>
									<option v-for="ejercicio in ejercicios">{{ejercicio}}</option>
								</select>
								<label>Ejercicios</label>
							</div>
						</section>
					</main>
				</article>
			</section>
			<section class="row" id="seccionReglas">
				<article class="col s10 offset-s1 m8 offset-m2">
					<header>
						<h5>Planteamiento</h5>
					</header>
					<main>
						<p style="text-align: justify;">
				      <input class="with-gap" name="planteamiento" type="radio" id="planteamiento-0" value="0" v-model="planteamiento"/>
				      <label for="planteamiento-0">
				      	Planteamiento incorrecto, demostrando poco entendimiento del problema. No hacen uso de gráficos, ni esquemas.
				      </label>
				    </p>
				    <p style="text-align: justify;">
				      <input class="with-gap" name="planteamiento" type="radio" id="planteamiento-1" value="1" v-model="planteamiento"/>
				      <label for="planteamiento-1">
				      	Planteamiento incorrecto, demostrando poco entendimiento del problema. Hacen uso de gráficos y/o esquemas para explicar su razonamiento.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="planteamiento" type="radio" id="planteamiento-2" value="2" v-model="planteamiento"/>
				      <label for="planteamiento-2">
				      	Identifican el problema cometiendo errores mínimos. Hacen uso de gráficos y/o esquemas para explicarlo.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="planteamiento" type="radio" id="planteamiento-3" value="3" v-model="planteamiento"/>
				      <label for="planteamiento-3">
				      	Identifican claramente el problema. Hacen uso de gráficos y/o esquemas para explicarlo.
				      </label>
				    </p>
					</main>
				</article>
				<article class="col s10 offset-s1 m8 offset-m2">
					<header>
						<h5>Desarrollo</h5>
					</header>
					<main>
						<p style="text-align: justify;">
				      <input class="with-gap" name="desarrollo" type="radio" id="desarrollo-0"/ value="0" v-model="desarrollo">
				      <label for="desarrollo-0" class="rb-red">
				      	Presentan la solución del problema de una manera desodenada y omiten pasos en el desarrollo. 
				      </label>
				    </p>
				    <p style="text-align: justify;">
				      <input class="with-gap" name="desarrollo" type="radio" id="desarrollo-1"/ value="1" v-model="desarrollo">
				      <label for="desarrollo-1">
				      	Omiten pasos importantes en el desarrollo.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="desarrollo" type="radio" id="desarrollo-2"/ value="2" v-model="desarrollo">
				      <label for="desarrollo-2">
				      	El procedimiento es claro, pero desordenado. 
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="desarrollo" type="radio" id="desarrollo-3"/ value="3" v-model="desarrollo">
				      <label for="desarrollo-3">
				      	Presentan la solución del problema de una  manera ordenada, organizada y detallada.
				      </label>
				    </p>
					</main>
				</article>
				<article class="col s10 offset-s1 m8 offset-m2">
					<header>
						<h5>Conceptos Físicos</h5>
					</header>
					<main>
						<p style="text-align: justify;">
				      <input class="with-gap" name="fisicos" type="radio" id="fisicos-0" value="0" v-model="fisicos"/>
				      <label for="fisicos-0">
				      	La mayoria de conceptos físicos implicados en el problema son explicados incorrectamente.
				      </label>
				    </p>
				    <p style="text-align: justify;">
				      <input class="with-gap" name="fisicos" type="radio" id="fisicos-1" value="1" v-model="fisicos"/>
				      <label for="fisicos-1">
				      	Al menos el 50% de los conceptos físicos son explicados correctamente.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="fisicos" type="radio" id="fisicos-2" value="2" v-model="fisicos"/>
				      <label for="fisicos-2">
				      	Explican los conceptos físicos comentiendo errores mínimos.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="fisicos" type="radio" id="fisicos-3" value="3" v-model="fisicos"/>
				      <label for="fisicos-3">
				      	Explican correctamente los conceptos físicos implicados en el problema.
				      </label>
				    </p>
					</main>
				</article>
				<article class="col s10 offset-s1 m8 offset-m2">
					<header>
						<h5>Conceptos Matemáticos</h5>
					</header>
					<main>
						<p style="text-align: justify;">
				      <input class="with-gap" name="matematicos" type="radio" id="matematicos-0" value="0" v-model="matematicos"/>
				      <label for="matematicos-0">
				      	La mayor parte del desarrollo contiene errores matemáticos, demostrando poco conocimiento de los conceptos matematicos requeridos.
				      </label>
				    </p>
				    <p style="text-align: justify;">
				      <input class="with-gap" name="matematicos" type="radio" id="matematicos-1" value="1" v-model="matematicos"/>
				      <label for="matematicos-1">
				      	El desarrollo del problema contiene múltiples errores matemáticos. 
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="matematicos" type="radio" id="matematicos-2" value="2" v-model="matematicos"/>
				      <label for="matematicos-2">
				      	Utiliza los conceptos y expresiones matematicas cometiendo errores mínimos. 
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="matematicos" type="radio" id="matematicos-3" value="3" v-model="matematicos"/>
				      <label for="matematicos-3">
				      	Utilizan los conceptos y expresiones matemáticas correctamente. 
				      </label>
				    </p>
					</main>
				</article>
				<article class="col s10 offset-s1 m8 offset-m2">
					<header>
						<h5>Respuesta</h5>
					</header>
					<main>
						<p style="text-align: justify;">
				      <input class="with-gap" name="respuesta" type="radio" id="respuesta-0" value="0" v-model="respuesta"/>
				      <label for="respuesta-0">
				      	No obtienen ninguna respuesta correcta.
				      </label>
				    </p>
				    <p style="text-align: justify;">
				      <input class="with-gap" name="respuesta" type="radio" id="respuesta-1" value="1" v-model="respuesta"/>
				      <label for="respuesta-1">
				      	< 50% de respuestas son correctas 
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="respuesta" type="radio" id="respuesta-2" value="2" v-model="respuesta"/>
				      <label for="respuesta-2">
				      	> 50% de respuestas son correctas.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="respuesta" type="radio" id="respuesta-3" value="3" v-model="respuesta"/>
				      <label for="respuesta-3">
				      	Obtienen el 100% de respuestas correctas y (Numéricamente y conceptualmente). 
				      </label>
				    </p>
					</main>
				</article>
				<article class="col s10 offset-s1 m8 offset-m2">
					<header>
						<h5>Trabajo en equipo</h5>
					</header>
					<main>
						<p style="text-align: justify;">
				      <input class="with-gap" name="equipo" type="radio" id="equipo-0" value="0" v-model="equipo"/>
				      <label for="equipo-0">
				      	Los estudiantes no permitieron a cada uno explicar el problema. La presentación no demuestra conexión entre ellos y no promueve discusión lógica del tema. Se tratan con respeto y cortesía.
				      </label>
				    </p>
				    <p style="text-align: justify;">
				      <input class="with-gap" name="equipo" type="radio" id="equipo-1" value="1" v-model="equipo"/>
				      <label for="equipo-1">
				      	Los estudiantes permitieron a pocos explicar el problema. La presentación demuestra muy poca conexión entre ellos y promueve discusión lógica del tema. Se tratan con respeto y cortesía.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="equipo" type="radio" id="equipo-2" value="2" v-model="equipo"/>
				      <label for="equipo-2">
				      	Los estudiantes permitieron a algunos explicar el problema. La presentación no demuestra mucha conexión entre ellos y promueve discusión lógica del tema. Se tratan con respeto y cortesía.
				      </label>
				    </p>
				    <p>
				      <input class="with-gap" name="equipo" type="radio" id="equipo-3" value="3" v-model="equipo"/>
				      <label for="equipo-3">
				      	Los estudiantes permitieron a cada uno explicar el problema. La presentación demuestra conexión entre ellos y promueve discusión lógica del tema. Se tratan con respeto y cortesía.
				      </label>
				    </p>
					</main>
				</article>
			</section>
			<section class="row" id="seccionBotones">
				<div class="col m12">
					<div class="col m3 m6 offset-m3">
						<a class="waves-effect waves-light btn" @click="calificar" id="btn-calificar">Calificar</a>
					</div>
					<div class="col m2 offset-m1">
						<p>Total <label>{{calificacion}}/15</label></p>
					</div>
				</div>
			</section>
			<section id="modals">
				<!-- Modal Structure -->
			  <div id="modalCalificacionExitosa" class="modal">
			    <div class="modal-content center-align">
			      <h4 class="title">Calificación Exitosa</h4>
			      <p>Se ha ingresado su calificación a este ejercicio.</p>
			      <p>¿Desea seguir calificando o terminar?</p>
			    </div>
			    <div class="modal-footer row">
			      <a href="/profesores/rubrica/" class="modal-action modal-close waves-effect waves-green btn-flat col s6 center-align">Continuar</a>
			      <a href="/profesores/" class="modal-action modal-close waves-effect waves-green btn-flat col s6 center-align">Terminar</a>
			    </div>
			  </div>
			</section>
		</main>
		<footer>
			<script src="/bower_components/jquery/dist/jquery.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/moment/moment.js"></script>
			<script src="/partials/navbar.js"></script>
			<script src="./rubricaScript.js"></script>
		</footer>
	</body>
</html>