body{
  background-color:   #d3dbdb;
}
.container{
	width: 90%;
	margin: auto;
	background-color: white;
  min-height: 100%;
}
#mainSelecciones{
  margin-left: 15%;
  margin-right: 15%;
}
.title{
  font-weight: bold;
}
.modal-footer.row{
  margin-bottom: 1% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  
}

header h5 {
  text-align: center;
  font-weight: bold;
}
