<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./preguntasStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <title>Nueva Leccion</title>
</head>
<body>
  <header>
  <nav>
    <!-- Dropdown Structure -->
    <ul id="dropdownPreguntasDesktop" class="dropdown-content">
      <li><a href="../estimacion">Estimación</a></li>
      <li><a href="../laboratorio">Laboratorio</a></li>
      <li><a href="../tutorial">Tutorial</a></li>
    </ul>
    <ul id="dropdownPreguntasMobile" class="dropdown-content">
      <li><a href="../estimacion">Estimación</a></li>
      <li><a href="../laboratorio">Laboratorio</a></li>
      <li><a href="../tutorial">Tutorial</a></li>
    </ul>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Profesor</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Lecciones</a></li>
        <li><a href="../../grupos">Grupos</a></li>
        <!--Dropdown button-->
        <li><a class="dropdown-button" href="#!" data-activates="dropdownPreguntasDesktop">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Lecciones</a></li>
        <li><a href="../../grupos">Grupos</a></li>
        <!--Dropdown button-->
        <li><a class="dropdown-button" data-activates="dropdownPreguntasMobile">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
  </header>
  <h1>Crear un nueva leccion</h1>
  <div id="app">
    <p>{{leccion_nueva}}</p>
    <form >
      <div class="form-group">
        <label for="nombre">nombre</label>
        <input v-model="leccion_nueva.nombre" class="form-control" type="text" name="nombre" placeholder="nombre leccion">
      </div>
      <div class="form-group">
        <label for="tiempoEstimado">tiempo estimado</label>
        <input v-model="leccion_nueva.tiempoEstimado" type="number" step="5" min="5" value="5"/>minutos
      </div>
      <div class="form-group">
        <label for="tipo">tipo</label>
        <select v-model="leccion_nueva.tipo" class="" name="">
          <option value="leccion">estimacion</option>
          <option value="tutorial">tutorial</option>
          <option value="experimento">experimento</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fechaInicio">fecha inicio</label>
        <input v-model="leccion_nueva.fechaInicio" type="date" id="datePicker" name="fecha">
      </div>
      <div class="form-group">
        <label for="Puntaje">Puntaje</label>
        <input type="text" v-model="leccion_nueva.puntaje" placeholder="puntaje">
      </div>
      <button type="button" v-on:click="crearLeccion()">send</button>
    </form>
    <div>
      <div v-for="pregunta in preguntas">
        <p>{{pregunta.nombre}}</p><input type="checkbox" onclick="preguntaSeleccionada(this)" v-bind:id="pregunta._id">
      </div>
    </div>
  </div>
<main>
      <div class="container" id="preguntas">
        <div class="row">
          <div class="col s12 m9 l10">
            <div v-for="capitulo in capitulos" class="capitulo scrollspy section" v-bind:id="capitulo.id">
              <h5>{{capitulo.nombre}}</h5>
              <ul class="preguntas">
                <li v-for="pregunta in capitulo.preguntas" class="question" v-bind:id="pregunta._id">
                  <a href="#">{{pregunta.nombre}}</a>
                  <a href="#" class="right-align btn-eliminar pull right" v-bind:id="pregunta._id" v-on:click="crearModalEliminarPregunta(pregunta._id)"><i class="material-icons tiny">delete</i></a>
                  <a href="#" class="btn-editar pull right" v-bind:id="pregunta._id"><i class="material-icons tiny">mode_edit</i></a>
                </li>
              </ul>
              <a v-on:click="nuevaPregunta()" class="btn-floating btn-small waves-effect waves-light red pull right"><i class="material-icons">add</i></a>
            </div>
          </div>

          <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
              <li v-for="capitulo in capitulos">
                <a v-bind:href="capitulo.href">{{capitulo.nombre}}</a>
              </li>
            </ul>             
          </div>
          
        </div>
      </div>
    </main>
  <footer>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/vue/dist/vue.min.js"></script>
    <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
    <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
    <script src="./app.leccion.js"></script>
    <script src="./verPreguntaScript.js"></script>
    <script src="/bower_components/materialize/bin/materialize.js"></script>
    <script src="/js/summernote.js"></script>
  </footer>
</body>
</html>
