<!DOCTYPE html>
<html>
	<head>
		<title>Lecciones - Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
		<link rel="stylesheet" type="text/css" href="./leccionStyles.css">
	</head>
	<body>
		<header id="navbar"></header>
		<main class="container" id="lecciones">
			<header>
				<h2 class="center-align">Lecciones</h2>
			</header>
			<main class="row">
				<header class="col l2 input-field">
					<select id="filtroTipo" class="filtro">
						<option value="" selected="true"></option>
						<option value="estimacion|laboratorio">Estimación|Laboratorio</option>
						<option value="tutorial">Tutorial</option>
					</select>
					<label>Filtrar por tipo</label>
				</header>
				<header class="col l2 input-field">
					<select id="filtroMateria" class="filtro">
						<option value="" selected="true"></option>
						<option value="FISG1002">Física 2</option>
						<option value="FISG1003">Física 3</option>
						<option value="FISG2001">Física Conceptual</option>
					</select>
					<label>Filtrar por materia</label>
				</header>
				<header class="col l2 input-field">
					<select id="filtroParalelo" class="filtro">
						<option value="" selected="true"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<label>Filtrar por paralelo</label>
				</header>
				<header class="col l1 valign-wrapper pull right">
			  	<a v-on:click="test()" class="tooltipped btn-floating waves-effect waves-light btn" id="btn-generar-reporte" data-position="top" data-delay="50" data-tooltip="CSV"> <i class="fa fa-download" aria-hidden="true"></i></a>
			  	<a href="/profesores/leccion/crear" class="tooltipped btn-floating waves-effect waves-light btn red pull right" data-position="top" data-delay="50" data-tooltip="Crear"><i class="material-icons">add</i></a>
				</header>
				<section class="col s12">
		  		<table class="bordered highlight responsive-table">
		  			<thead>
		  				<tr>
		  					<th @click="sort('nombre')">Nombre</th>
			  				<th @click="sort('tipo')">Tipo</th>
			  				<th @click="sort('nombreParalelo')">Materia@Paralelo</th>
                <th @click="sort('fechaInicio')">Fecha creada</th>
			  				<th @click="sort('fechaInicioTomada')">Fecha tomada</th>
                <th @click="sort('tiempoEstimado')">Hora terminada</th>
			  				<th @click="sort('estado')">Estado</th>
			  				<th>Acción</th>
		  				</tr>
		  			</thead>
		  			<tbody>
		  				<tr v-for="leccion in sortedLecciones">
		  					<td><a :href="'./' + leccion._id" class="nombre-leccion">{{leccion.nombre}}</a></td>
		  					<td class="text-flow">{{leccion.tipo}}</td>
		  					<td class="text-flow">{{leccion.nombreMateria}}@{{leccion.nombreParalelo}}</td>
                <td class="text-flow">{{dateInicio(leccion.fechaInicio)}}</td>
		  					<td class="text-flow">{{date(leccion.fechaInicioTomada)}}</td>
                <td class="text-flow">{{dateTerminada(leccion, leccion.tiempoEstimado)}}</td>
		  					<td class="text-flow">{{leccion.estado}}</td>
		  					<td v-if="leccion.estado=='pendiente' && profesor.tipo=='titular'">
		  						<a class="waves-effect waves-light btn btn-tomar btn-small-new #0277bd light-blue darken-3" @click="tomarLeccion(leccion.paralelo, leccion._id)"><span>Tomar</span></a>
		  					</td>
		  					<td v-else-if="leccion.estado=='terminado'">
		  						<a class="waves-effect waves-light btn btn-calificar btn-small-new center-align #80deea cyan lighten-3" :href="'/profesores/leccion/calificar/grupos/'+leccion._id"><span>Calificar</span></a>
                  <a class="waves-effect waves-light btn btn-tomar btn-small-new" :href="'/profesores/leccion/recalificar/grupos/'+leccion._id"><span>Revisar</span></a>
		  					</td>
		  					<td v-else-if="leccion.estado=='tomando' && profesor.tipo =='titular'">
		  						<a class="waves-effect waves-light btn btn-tomar btn-small-new" :href="'/profesores/leccion-panel/'+leccion._id+'/paralelo/'+leccion.paralelo"><span>Entrar</span></a>
		  					</td>
		  					<td v-else-if="leccion.estado === 'calificado' && profesor.tipo === 'titular'">
		  						<a class="waves-effect waves-light btn btn-tomar btn-small-new" :href="'/profesores/leccion/recalificar/grupos/'+leccion._id"><span>Recalificar</span></a>
		  					</td>
		  					<td v-if="leccion.estado === 'calificado'">
		  						<a :href="'/profesores/leccion/' + leccion._id + '/estadisticas'" class="waves-effect waves-light btn btn-tomar btn-small-new blue">Estadísticas</a>
		  					</td>
		  					<td v-if="leccion.estado === 'pendiente' && profesor.tipo === 'titular'">
		  						<a href="#" class="right-align btn-eliminar pull right" v-bind:id="leccion._id" v-on:click="crearModalEliminarLeccion(leccion._id, leccion.nombre)"><i class="material-icons tiny">delete</i></a>
		  					</td>
		  				</tr>
		  			</tbody>
		  		</table>

			  </section>
			  <footer>
			  	
			  </footer>
			</main>
	  	<!-- Modal Eliminar Leccion Structure -->
		  <section id="modalEliminarLeccion" class="modal">
		    <article class="modal-content" id="modalEliminarLeccionContent">
		    </article>
		    <article class="modal-footer" id="modalEliminarLeccionFooter">
		    </article>
		  </section>
		  <!-- Modal Generar CSV -->
		  <section id="modalGenerarCsv" class="modal">
      	<article class="modal-content">
          <h3 class="center-align">Generando el documento de Reporte de notas</h3>
          <h4 class="center-align">Por favor espere un momento.</h4>
          <div class="progress">
	      		<div class="indeterminate">
	      		</div>
	  			</div>
        </article>
     	</section>
		</main>
		<footer>
			<script src="/bower_components/jquery/dist/jquery.js"></script>
			<script src="/bower_components/vue/dist/vue.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/bower_components/moment/moment.js"></script>
      <script src="/bower_components/moment/locale/es.js"></script>
			<script src="./verLeccionScript.js"></script>
			<script src="/partials/navbar.js"></script>
		</footer>
	</body>
</html>
