body{
	background-color:   #d3dbdb;
}
.container{
	margin-top: 5%;
	width: 100%;
}
main .container{
	background-color: rgba(255,255,255,0.7);
	padding: 2%;
	padding-top: 2%;
	height: 100%;
	margin-top: 0px;
}

.section{
	margin-bottom: 2%;
	/*border: 1px solid;*/
	padding: 2%;

}

.table-of-contents{
	position: fixed !important;
}

.preguntas>li{
	border-top: 1px solid;
	padding: 2%;

}

.btn-small-new{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: 5%;
    height: inherit;
}

.btn-editar, .btn-eliminar{
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 50%;
}

.btn-tomar, .btn-calificar{
	width: 80%;
}

#btn-nueva-leccion{
	margin-top: 2%;
}

.nombre-leccion{
	color: rgba(0, 0, 0, 0.87);
}
