<!DOCTYPE html>
<html>
	<head>
		<title>Profesor - Preguntas</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./laboratorioStyle.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header>
			<nav>
				<!-- Dropdown Structure -->
				<ul id="dropdownPreguntasDesktop" class="dropdown-content">
				  <li><a href="../estimacion">Estimación</a></li>
				  <li><a href="../laboratorio">Laboratorio</a></li>
				  <li><a href="../tutorial">Tutorial</a></li>
				</ul>
				<ul id="dropdownPreguntasMobile" class="dropdown-content">
				  <li><a href="../estimacion">Estimación</a></li>
				  <li><a href="../laboratorio">Laboratorio</a></li>
				  <li><a href="../tutorial">Tutorial</a></li>
				</ul>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Profesor</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../../grupos">Grupos</a></li>
		        <!--Dropdown button-->
		        <li><a class="dropdown-button" href="#!" data-activates="dropdownPreguntasDesktop">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../../grupos">Grupos</a></li>
		        <!--Dropdown button-->
		        <li><a class="dropdown-button" data-activates="dropdownPreguntasMobile">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
		      </ul>
				</div>
			</nav>
		</header>
		<main>
			<div class="container" id="laboratorio">
				<h2 class="center-align">Laboratorio</h2>
				<div class="row">
					<div class="col s12 m9 l10">
						<div v-for="laboratorio in laboratorios" class="laboratorio scrollspy section" v-bind:id="laboratorio._id">
							<h5>{{laboratorio.nombre}}</h5>
							<ul class="preguntas">
								<li v-for="pregunta in laboratorio.preguntas" class="question" v-bind:id="pregunta._id">
									<a v-bind:href="pregunta._id">{{pregunta.nombre}}</a>
									<a href="#" class="right-align btn-eliminar pull right" v-bind:id="pregunta._id" v-on:click="crearModalEliminarPregunta(pregunta._id)" ><i class="material-icons tiny">delete</i></a>
				  				<a href="#" class="btn-editar pull right" v-bind:id="pregunta._id"><i class="material-icons tiny">mode_edit</i></a>
								</li>
							</ul>
							<a v-on:click="nuevaPregunta()" class="btn-floating btn-small waves-effect waves-light red pull right"><i class="material-icons">add</i></a>
						</div>
					</div>

					<div class="col hide-on-small-only m3 l2">
						<ul class="section table-of-contents">
			  			<li v-for="laboratorio in laboratorios">
			  				<a v-bind:href="laboratorio.href">{{laboratorio.nombre}}</a>
			  			</li>
			  			<button class="btn waves-effect waves-light btn-small-new" id="btnLabNuevo">Nuevo laboratorio</button>
			  		</ul>	
					</div>
				</div>

				<!-- Modal Eliminar Pregunta Structure -->
			  <div id="modalEliminarPregunta" class="modal">
			    <div class="modal-content" id="modalEliminarPreguntaContent">			      
			    </div>
			    <div class="modal-footer" id="modalEliminarPreguntaFooter">			    	
			    </div>
			  </div>

			  <!-- Modal Nuevo Laboratorio Structure -->
			  <div id="modalNuevoLab" class="modal">
			    <div class="modal-content" id="modalNuevoLabContent">
			    	<h4 class="center-align">Nuevo laboratorio</h4>
			      <div class="row row-lab-nuevo">
			      	<div class="input-field col s12">
			      		<input type="text" name="nombreLab" id="nombreLab">
			      		<label for="nombreLab">Nombre del laboratorio</label>
			      	</div>
			      </div>
			    </div>
			    <div class="modal-footer">
			    	
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" v-on:click="nuevoLab($event)">Crear</a>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			    </div>
			  </div>


			</div>
		</main>
		<footer>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
  		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
  		<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
			<script src="./laboratorioScript.js"></script>
		</footer>
	</body>
</html>