.container{
	margin-top: 3%;
	background-color: rgba(255,255,255,0.5);
	width: 90%;
	margin: auto;
}
.tabla{
	width: 90%;
	margin: auto;
}
.btn-small-new{
	padding: 0 10px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 5%;
}

.clearer{
	clear: left;
}
.calificacion-good{
	background-color: rgba(0, 128, 0, 0.4);
}
.calificacion-reg{
	background-color: rgba(255, 255, 0, 0.4);
}
.take{
	background-color: #42a5f5;
} 
.titles{
	background-color: rgba(255,255,255,0.6);
}


div.disabled {
  display: none;
}

div#loader {
  margin-top: 15%;
}

div.enable {
  display: block;
  text-align: center;
  margin-top: 2%;
}

h2.mensaje {

}

.border{
	background-color: #001a43;
	height: 5vh;
}

.yellow_line{
	margin: 0px;
	border: 0px;
	background-color: #F5b400;
	height: 0.1vh;
}

.gris{
	color: grey;
}

section a{
	margin-right: 2%;
	margin-bottom: 2%;
}
.logout{
	padding-top: 2%;
	padding-left: 2%;
}