<!DOCTYPE html>
<html>
	<head>
	<title>Estudiante</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="./estudiantePerfilStyles.css">
	</head>
	<body id="grad">
		<header>
			<div class="border"></div>
			<hr class="yellow_line">
			<div class="border"></div>
		</header>
		<main>
			<div class="container" id="app">
			  <div class="logout">
          <a href="/api/session/logout">Cerrar sesión</a>
			  </div>
				<div class="row">
					<section class="center-align">
						<!-- <img class="responsive-img circle" src="https://placehold.it/100x100"> -->
						<h3>{{estudiante.nombres + ' ' + estudiante.apellidos}}</h3>
						<p class="gris">{{estudiante.correo}}</p>
					</section>
					<section>
						<table class="bordered responsive-table centered tabla">
							<thead>
								<tr class="titles">
									<th>Nombre</th>
									<th>Estado</th>
									<th>Calificación</th>
									<th>Fecha</th>
									<th>   </th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="leccion in lecciones">
									<td>{{leccion.leccion.nombre}}</td>
									<td>{{leccion.leccion.estado}}</td>
									<td>{{leccion.calificacion}}</td>
									<td>{{date(leccion.fechaEmpezado)}}</td>
									<td v-if="leccion.leccion.estado=='terminado'">
											<button class="btn waves-effect waves-light" v-bind:id=leccion.leccion._id v-on:click="verLeccion($event)">Ver</button>
									</td>
									<td v-else>
										<button class="btn waves-effect waves-light blue lighten-1" v-on:click="tomarLeccion()">Tomar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<a class="waves-effect waves-light btn pull right btn-small-new" @click="tomarLeccion">Tomar lección</a>
					</section>
				</div>
			</div>
		</main>
		<footer>
			<script src="/bower_components/jquery/dist/jquery.min.js"></script>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="/bower_components/moment/moment.js"></script>
			<script src="./estudiante.js"></script>
		</footer>
	</body>
</html>
