<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Grupos Leccion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./gruposLeccionStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

    <!-- fin de scripts navbar-->
  </head>
  <body>
    <header id="#navbar"></header>
    <div id="app">
      <div id="pages">
        <!--tabs-->
        <div class="row" >
          <br>
          <div class="col s12">
            <ul class="tabs" id="tabs-swipe-demo">
              <li class="tab col s5"><a class="active" href="#test1">Escoger el Grupo</a></li>
              <li class="tab col s5"><a href="#test2">Seleccionar Estudiante</a></li>
            </ul>
          </div>
        </div>
        <!--Paso 1, seleccionar Grupo-->
        <div id="test1" class="col s12">
          <div class="page">
            <div class="seccion-1 row container">
              <h1 class="center-align flow-text">Escoger el grupo a Revisar</h1>
              <form>
                <div class="row">
                  <div class="input-field col s12" v-for="(registro, index) in registrosAMostrar">
                    <p>
                      <input name="group1" type="radio" class="left-align flow-text" v-bind:id="registro.grupo" onclick="grupoSeleccionado(this)">
                      <label v-bind:for="registro.grupo">{{registro.nombreGrupo}}</label>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Paso 2, Seleccionar al estudiante a Revisar-->
        <div id="test2" class="col s12">
          <div class="page">
            <main>
              <div class="seccion-2 row container">
                <form>
                  <div class="row">
                    <div class="input-field col s12">
                      <h1 class="left-align flow-text">{{grupoSeleccionado.nombreGrupo}}</h1>
                      <p v-for="estudiante in estudiantes">
                        <input v-bind:name="grupoSeleccionado.grupo" type="radio" class="left-align flow-text" v-bind:id="estudiante._id" onclick="estudianteSeleccionado(this)">
                        <label v-bind:for="estudiante._id">{{estudiante.nombres+' '+estudiante.apellidos}}</label>
                      </p>
                    </div>
                  </div>
                </form>
                <button type="button" v-on:click="calificarRedireccion()" class="btn " style="float: right;">Calificar Lección</button>
                <br/><br/><br/>
              </div>
            </main>
          </div>
        </div>
      </div>
      </br></br>
    </div>
    <footer>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="/js/navbar.js"></script>
      <script src="./gruposLeccionScript.js"></script>
    </footer>
  </body>
</html>
