.container{
	margin-top: 5%;
	width: 90%;
	margin: auto;
}
.nombre-pregunta{
	font-weight: bold;
}

.row-pregunta, .row-instruccion{
	background-color: white;
	opacity: 0.8;
}

#row-tabs{
	margin-bottom: 0;
}

.container .row{
	margin-left: 0;
	margin-right: 0;
	padding: 0 3%;
}
#area-pregunta{
	padding-bottom: 5%;
	padding-top: 5%;
	background-color: rgba(192,192,192,0.5);
}

.border{
	background-color: #001a43;
	height: 5vh;
}

hr.yellow_line{
	margin: 0px;
	border: 0px;
	background-color: #F5b400;
	height: 0.2vh;
}

/*RESPONSIVE ZONE*/
@media (max-width: 600px) {
  .container{
	width: 100%;
	margin: auto;
	}
}
.row .col .no-side-padding {
		padding-left: 0px;
		padding-right: 0px;
	}

.modal-overlay{
	display: none !important;
}

div.color {
    background-color: green;
    display: block;
    height: 30px;
    margin-left: 20%;
    /*float: right;*/
    width: 30px;
    border-radius: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.green { background-color: green }
.red { background-color: red; }
.yellow { background-color: yellow }

div.estado {
  position:fixed;
  top:15%;
  margin-left: 10%;
}

.borrar {
  visibility: hidden;
  display: none;
}
.onLoad, .load-2,.load-3,#load-4{
	 pointer-events: none;
}
#row-area-respuesta label{
	margin-bottom: 5%;
}