<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Estudiante</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/materialize/bin/materialize.css">
    <link rel="stylesheet" href="/bower_components/icon/materialIcons.css">
    <link rel="stylesheet" href="/bower_components/offline/themes/offline-language-spanish-indicator.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/estudiantesbackground.css">
    <link rel="stylesheet" href="/app_client/estudiantes/leccion/estudianteLeccionStyles.css">
    <link rel="stylesheet" href="/css/offline-theme-slide.css">
  </head>
  <body id="grad">
    <header>
      <div class="border"></div>
      <hr class="yellow_line">
      <div class="border"></div>
    </header>
    <main id="app" class="container">
      <header id="nombre-leccion">
        <h2 class="center-align"><b>{{leccion.nombre}}</b></h2>
        <h4 class="center-align flow-text">{{estudiante.nombres + ' ' + estudiante.apellidos}}</h4>
        <div class="timer center-align flow-text">
          <p><div class="color" id="conectado"></div>Tiempo: <b>{{tiempo}}</b></p>
        </div>
      </header>
      <main id="leccion">
        <header class="row" id="row-tabs">
          <section class="col s12">
            <ul class="tabs-fixed-width tabs">
              <li class="tab"><a class="active" href="#instrucciones">Instrucciones</a></li>
              <li class="tab disabled" v-for="pregunta in leccion.preguntas" :id="'tab-' + pregunta.ordenPregunta"><a :href="'#' + pregunta.pregunta._id">{{pregunta.ordenPregunta}}</a></li>
              <li class="tab"><a href="#terminar">Terminar</a></li>
            </ul>
          </section>
        </header>
        <main class="row">
          <!-- TAB INSTRUCCIONES -->
          <section id="instrucciones" class="col s12">
            <article class="row row-instruccion">
              <header class="center-align header-instrucciones">
                <h5><b>Instrucciones de la lección</b></h5>
              </header>
              <main class="instrucciones">
                <p>Tienen hasta el tiempo indicado para completar la lección</p>
                <p>Una vez acabado el tiempo, las preguntas que han respondido se enviarán automáticamente, las que no respondieron se enviarán sin respuesta, y por lo tanto, sin calificación</p>
                <p>No se olviden de enviar cada respuesta luego de completarla. Si responden una pregunta pero no envían su respuesta, no tendrán la calificación.</p>
              </main>
            </article>
          </section>
          <!-- TABS PREGUNTAS -->
          <section class="col s12" :id="pregunta._id" v-for="(pregunta, index) in preguntas" style="display: none">
            <article class="row row-pregunta" >
              <!-- PREGUNTA | DESCRIPCIÓN DE SECCIÓN -->
              <header id="area-pregunta" class="col s12">
                <label v-if="!pregunta.tieneSubpreguntas">Pregunta: </label>
                <label v-if="pregunta.tieneSubpreguntas">Descripción de la sección: </label>
                <label><h6 class="pull right"><b>Tiempo estimado: </b>{{pregunta.tiempoEstimado}} minutos</h6></label>
                <p v-html="pregunta.descripcion"></p>
              </header>
              <hr><hr>
              <!-- SUBPREGUNTAS -->
              <main id="area-subpreguntas" class="col s12" v-if="pregunta.tieneSubpreguntas">
                <section v-for="(sub, j) in pregunta.subpreguntas" class="row row-subpregunta" :id="'section-sub-' + pregunta._id">
                  <!-- DESCRIPCIÓN -->
                  <header class="center-align">
                    <h5 class="title-sub"><b>Pregunta #{{j+1}}</b></h5>
                  </header>
                  <article class="col s6" :id="'article-subpregunta-' + j">
                    <label><h6><b>Descripción: </b></h6></label>
                    <p v-html="sub.contenido"></p>
                    <label><h6 class="pull right"><b>Tiempo estimado: </b>{{sub.tiempoEstimado}} minutos</h6></label>
                  </article>
                  <!-- RESPUESTA -->
                  <article class="col s6" :id="'article-respuesta-' + j">
                    <header>
                      <label><h6><b>Respuesta: </b></h6></label>
                    </header>
                    <main>
                      <textarea :id="'textarea-sub-' + pregunta.orden + '-' + sub.orden" class="materialize-textarea">
                      </textarea>
                      <section style="margin: 3% 0;">
                        <label>Subir una imagen</label>
                        <br/>
                        <input id="archivo" type='file' @change="getImage(sub.orden,$event)"/>
                      </section>
                      <section>
                        <img hidden :id="'source_image-'+ sub.orden" src="#" alt="your image" />
                      </section>
                      <section>
                        <img hidden :id="'result_image-'+ sub.orden" src="#" alt="your image" />
                      </section>
                      <section>
                        <img hidden :id="'loading-'+ sub.orden" src="/img/loading.gif" />
                      </section>
                    </main>
                    <footer class="row" id="botones">
                      <button href="." class="waves-effect waves-light btn pull right" @click="responderSub(pregunta, sub)" :id="'btn-responder-sub-' + pregunta.orden + '-' + sub.orden">Responder</button>
                    </footer>
                  </article>
                </section>
              </main>
              <!-- ÁREA RESPUESTA -->
              <main id="area-respuesta" class="col s12" v-if="!pregunta.tieneSubpreguntas">
                <article class="row" id="row-area-respuesta">
                  <label><h6><b>Respuesta: </b></h6></label>
                  <textarea v-bind:id="'textarea-' + pregunta._id" class="materialize-textarea">
                  </textarea>
                  <section style="margin: 3% 0;">
                    <label>Subir una imagen</label>
                    <br />
                    <input id="archivo" type='file' @change="getImage(pregunta._id,$event)"/>
                  </section>
                  <section>
                    <img hidden v-bind:id="'source_image-'+ pregunta._id" src="#" alt="your image" />
                  </section>
                  <section>
                    <img hidden v-bind:id="'result_image-'+ pregunta._id" src="#" alt="your image" />
                  </section>
                  <section>
                    <img hidden v-bind:id="'loading-'+ pregunta._id" src="/img/loading.gif" />
                  </section>
                </article>
                <article class="row" id="botones">
                  <button href="." class="waves-effect waves-light btn pull right" @click="responder(pregunta)" v-bind:id="'btn-responder-' + pregunta._id">Responder</button>
                </article>
              </main>
              <!-- FIN PREGUNTA -->
            </article>
          </section>
          <!-- TAB TERMINAR -->
          <section id="terminar" class="col s12">
            <article class="row row-terminar center-align">
              <section class="col s12" id="section-btn-terminar">
                <h4>Terminar la lección</h4>
                <a class="waves-effect waves-light btn" @click="responderTodas">Terminar</a>
              </section>
            </article>
         </section>
        </main>
      </main>
      <!-- Modal Corregir Respuesta Structure -->
      <div id="modalCorregirRespuesta" class="modal">
        <div class="modal-content">
          <p class="center-align">No se puede corregir una respuesta ya enviada.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
      </div>
      <!-- Modal mostrar imagen -->
      <div id="modal_Img" class="modal">
        <div class="modal-content">
        </div>
      </div>
      <!-- Modal Revisar Respuestas Structure -->
      <div id="modalRevisarRespuestas" class="modal">
        <div class="modal-content">
          <p class="center-align">Ha respondido a todas las preguntas de la lección.</p>
          <p class="center-align">Sin embargo, aún tiene tiempo disponible.</p>
          <p class="center-align">¿Desea revisar y corregir alguna pregunta anterior o desea terminar la lección?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" @click="revisarLeccion">Revisar</a>
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" @click="responderTodas">Terminar</a>
        </div>
      </div>
    </main>
    <footer>
      <script src="/bower_components/offline/offline.min.js"></script>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="/bower_components/socket.io-client/dist/socket.io.min.js"></script>
      <script src="/bower_components/JIC/src/JIC.js" type="text/javascript"></script>
      <script src="/app_client/estudiantes/leccion/app.leccion.js"></script>
    </footer>
  </body>
</html>
