<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calificar Lección</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./calificarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  </head>
  <body>
    <header id="#navbar"></header>
    <div id="app">
      <div class="seccion-1 row container">
      <h2 class="center-align">Calificar Lección</h2>
      <div class="form-group col s12">
        <h5>Estudiante:</h5><h6>{{estudiante.nombres+' '+estudiante.apellidos}} ({{estudiante.correo}})</h6>
        <h3 class="center-align">{{leccion.nombre}}</h3>
      </div>
      <div class="form-group col s12">
        <div v-for="(pregunta, index) in preguntas">
          <h4 class="center-align">Pregunta #{{index+1}}</h4>
      		<div class="row">
    		    <div class="col s12 col-pregunta">
    		      <label for="nombre">Nombre de la Pregunta</label>
              <p v-if="pregunta.tipoPregunta == 'justificacion'" name="nombre">{{pregunta.nombre}}</p>
    		      <label for="descripcion">Descripción</label>
    		      <p v-if="pregunta.tipoPregunta == 'justificacion'" v-html="pregunta.descripcion" name="descripcion"></p>
              <p class="pull right">Puntaje: {{pregunta.puntaje}} puntos</p>
            </div>
          </div>
          <div class="row">
            <div class="col s7 col-respuesta">
              <label for="respuesta">Respuesta del Estudiante</label>
              <div v-for="respuesta in respuestas" >
                <p v-html="respuesta.respuesta" v-if="pregunta._id == respuesta.pregunta" name="respuesta"></p>
                <img v-bind:src="respuesta.imagenes" v-if="pregunta._id == respuesta.pregunta">
              </div>
            </div>
            <div class="col s5 col-calificacion">
              <input class="form-control" type="number" name="calificacion" placeholder="Calificación" min="0" max="2" v-bind:id="'calificacion-' + pregunta._id">
              <textarea class="materialize-textarea" name="feedback" placeholder="Feedback" v-bind:id="'feedback-' + pregunta._id"></textarea>
              <button class="waves-effect waves-light btn pull right" @click="calificar(pregunta)" v-bind:id="'btn-' + pregunta._id">Calificar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h5 class="center-align">Calificación total: {{calificacionTotal}}/{{leccion.puntaje}}</h5>
          <h5 class="center-align">Calificación ponderada: {{calificacionPonderada}}/100</h5>
          <button class="waves-effect waves-light btn pull right" @click="enviarCalificacion">Aceptar</button>
          <button class="waves-effect waves-light btn"  @click="regresar">Regresar</button>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="myModal" class="modal">
        <div class="modal-content">
          <p class="center-align">Lección calificada correctamente</p>
        </div>
        <div class="modal-footer">
          <a  @click="regresar" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="modalErrorLeccion" class="modal">
        <div class="modal-content">
          <p class="center-align">Ocurrió un error al tratar de enviar la calificación total de la lección</p>
          <p class="center-align">Intente nuevamente.</p>
        </div>
        <div class="modal-footer">
          <a href="/profesores/leccion" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="modalErrorCalificar" class="modal">
        <div class="modal-content">
          <p class="center-align">Ocurrió un error al enviar la calificación de esta pregunta.</p>
          <p class="center-align">Intente nuevamente.</p>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </div>
      </div>
    </div>
    <footer>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="/js/navbar.js"></script>
      <script src="./calificarScript.js"></script>
    </footer>
  </body>
</html>
