<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calificar Lección</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./calificarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  </head>
  <body>
    <header id="navbar"></header>
    <main id="app">
      <header class="seccion-1 row container">
        <h2 class="center-align">Calificar Lección</h2>
        <section class="form-group col s12">
          <h5>Estudiante:</h5><h6>{{estudiante.nombres+' '+estudiante.apellidos}} ({{estudiante.correo}})</h6>
        </section>
      </header>
      <main class="form-group col s12">
        <header>
          <h3 class="center-align">{{leccion.nombre}}</h3>
        </header>
        <main>
          <!-- PREGUNTAS -->
          <section v-for="(pregunta, index) in preguntas" :id="'section-p-'+pregunta._id" class="row seccion">
            <header class="col s12 col-pregunta">
              <h4 class="center-align" v-if="!pregunta.tieneSubpreguntas"><b>Pregunta #{{index+1}}</b></h4>    
              <h4 class="center-align" v-else><b>Sección #{{index+1}}</b></h4>    
              <label for="nombre">Nombre de la Pregunta</label>
              <p name="nombre">{{pregunta.nombre}}</p>
            </header>
            <!-- DESCRIPCIÓN -->
            <main class="col s12">
              <label for="descripcion">Descripción</label>
              <p v-html="pregunta.descripcion" name="descripcion"></p>
              <p class="pull right">Puntaje: {{pregunta.puntaje}} puntos</p>  
            </main>
            <!-- SUBPREGUNTAS -->
            <footer id="area-subpreguntas"  v-if="pregunta.tieneSubpreguntas">
              <section v-for="(sub, j) in pregunta.subpreguntas" class="row row-subpregunta" :id="'section-sub-'+pregunta._id">
                <hr>
                <header class="center-align">
                  <h5 class="title-sub"><b>Pregunta #{{j+1}}</b></h5>
                </header>
                <!-- DESCRIPCIÓN -->
                <main class="col s12">
                  <label><h6><b>Descripción: </b></h6></label>
                  <p v-html="sub.contenido"></p>
                  <p class="pull right">Puntaje: {{sub.puntaje}}pts.</p>
                </main>
                <!-- RESPUESTA -->    
                <footer id="area-subrespuesta" class="col s12">
                  <section class="col s7 col-respuesta">
                    <label for="respuesta">Respuesta del Estudiante</label>
                    <p :id="'res-'+pregunta.orden+'-'+sub.orden">{{sub.respuesta}}</p>
                    <img :src="sub.imagen" :id="'img-'+pregunta.orden+'-'+sub.orden">
                  </section>
                  <section class="col s5 col-calificacion">
                    <label>Calificación</label>
                    <input class="form-control" type="number" name="calificacion" placeholder="Calificación" min="0" max="2" :id="'calificacion-'+pregunta.orden+'-'+sub.orden" :value="sub.calificacion" :disabled="sub.calificada" >
                    <textarea class="materialize-textarea" name="feedback" placeholder="Feedback" :id="'fb-'+pregunta.orden+'-'+sub.orden" :value="sub.feedback" :disabled="sub.calificada"></textarea>
                    <button class="waves-effect waves-light btn pull right" :id="'btn-'+pregunta.orden+'-'+sub.orden" @click="calificarSub(pregunta, sub)" :disabled="sub.calificada">Calificar</button>
                  </section>
                </footer>
              </section>
            </footer>
            <!-- RESPUESTA -->
            <footer id="area-respuesta" v-if="!pregunta.tieneSubpreguntas" class="col s12">
              <section class="col s7 col-respuesta">
                <label for="respuesta">Respuesta del Estudiante</label>
                <div v-for="respuesta in respuestas" >
                  <p v-html="respuesta.respuesta" v-if="pregunta._id == respuesta.pregunta" name="respuesta"></p>
                  <img v-bind:src="respuesta.imagenes" v-if="pregunta._id == respuesta.pregunta">
                </div>  
              </section>
              <section class="col s5 col-calificacion">
                <input class="form-control" type="number" name="calificacion" placeholder="Calificación" min="0" max="2" v-bind:id="'calificacion-' + pregunta._id">
                <textarea class="materialize-textarea" name="feedback" placeholder="Feedback" v-bind:id="'feedback-' + pregunta._id"></textarea>
                <button class="waves-effect waves-light btn pull right" @click="calificar(pregunta)" v-bind:id="'btn-' + pregunta._id">Calificar</button>  
              </section>
            </footer>
            <hr><hr>
          </section>
          <!-- FIN PREGUNTAS -->
        </main>
      </main>
      <footer class="row">
        <div class="col s12">
          <h5 class="center-align">Calificación total: {{calificacionTotal}}/{{leccion.puntaje}}</h5>
          <h5 class="center-align">Calificación ponderada: {{calificacionPonderada}}/100</h5>
          <button class="waves-effect waves-light btn pull right" @click="enviarCalificacion">Aceptar</button>
          <button class="waves-effect waves-light btn"  @click="regresar">Regresar</button>
        </div>
      </footer>
      <section id="myModal" class="modal">
        <main class="modal-content">
          <p class="center-align">Lección calificada correctamente</p>
        </main>
        <footer class="modal-footer">
          <a  @click="regresar" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
      <section id="modalErrorLeccion" class="modal">
        <main class="modal-content">
          <p class="center-align">Ocurrió un error al tratar de enviar la calificación total de la lección</p>
          <p class="center-align">Intente nuevamente.</p>
        </main>
        <footer class="modal-footer">
          <a href="/profesores/leccion" id="crear" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
      <section id="modalErrorCalificar" class="modal">
        <main class="modal-content">
          <p class="center-align">Ocurrió un error al enviar la calificación de esta pregunta.</p>
          <p class="center-align">Intente nuevamente.</p>
        </main>
        <footer class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
    </main>
    <footer>
      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <script src="/bower_components/vue/dist/vue.min.js"></script>
      <script src="/bower_components/vue-router/dist/vue-router.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/materialize/bin/materialize.js"></script>
      <script src="/partials/navbar.js"></script>
      <script src="./calificarScript.js"></script>
    </footer>
  </body>
</html>
