body{
	background-color:   #d3dbdb;
}
.container{
	margin-top: 0px; 
	background-color: rgba(255,255,255,0.8);
	padding-bottom: 5%;
	position: relative;
}

.title{
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 3%;
    padding-top: 5%;
}

.preguntas>li{
	border-top: 1px solid;
	padding: 2%;

}

.preguntas>li>a>p{
	color: black;
}

#footnote{
	font-size: 14px;
}

.pregunta-titulo{
	font-weight: bold;
}

#leccion-section{
	margin: auto;
	width: 80%;
}
#btnEditar, #btnEliminar{
	margin: 5%;
}
#footnote{
	color:grey;
	margin-left: 5%
}
.container #footnote{
	position: absolute;
   bottom: 0;
   left: 0;
}
li:hover{
	background-color: rgba(192,192,192,0.4);
}
#preguntas-section{
	width: 90%;
	margin: auto;
}
