<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="./preguntasStyles.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header>
			<nav>
				<!-- Dropdown Structure -->
				<ul id="dropdownPreguntasDesktop" class="dropdown-content">
				  <li><a href="../estimacion">Estimación</a></li>
				  <li><a href="../laboratorio">Laboratorio</a></li>
				  <li><a href="../tutorial">Tutorial</a></li>
				</ul>
				<ul id="dropdownPreguntasMobile" class="dropdown-content">
				  <li><a href="../estimacion">Estimación</a></li>
				  <li><a href="../laboratorio">Laboratorio</a></li>
				  <li><a href="../tutorial">Tutorial</a></li>
				</ul>
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">Profesor</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../../grupos">Grupos</a></li>
		        <!--Dropdown button-->
		        <li><a class="dropdown-button" href="#!" data-activates="dropdownPreguntasDesktop">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../../grupos">Grupos</a></li>
		        <!--Dropdown button-->
		        <li><a class="dropdown-button" data-activates="dropdownPreguntasMobile">Preguntas<i class="material-icons right">arrow_drop_down</i></a></li>
		      </ul>
				</div>
			</nav>
		</header>
		<main>
			<div class="container" id="preguntas">
				<h2 class="center-align">Estimación</h2>
			  <div class="row">
			  	<div class="col s12 m9 l10">
				  	<div v-for="capitulo in capitulos" class="capitulo scrollspy section" v-bind:id="capitulo.id">
				  		<h5>{{capitulo.nombre}}</h5>
				  		<ul class="preguntas">
				  			<li v-for="pregunta in capitulo.preguntas" class="question" v-bind:id="pregunta._id">
				  				<a href="#">{{pregunta.nombre}}</a>
				  				<a href="#" class="right-align btn-eliminar pull right" v-bind:id="pregunta._id" v-on:click="crearModalEliminarPregunta(pregunta._id)"><i class="material-icons tiny">delete</i></a>
				  				<a href="#" class="btn-editar pull right" v-bind:id="pregunta._id"><i class="material-icons tiny">mode_edit</i></a>
				  			</li>
				  		</ul>
				  		<a v-on:click="nuevaPregunta()" class="btn-floating btn-small waves-effect waves-light red pull right"><i class="material-icons">add</i></a>
				  	</div>
			  	</div>

			  	<div class="col hide-on-small-only m3 l2">
			  		<ul class="section table-of-contents">
			  			<li v-for="capitulo in capitulos">
			  				<a v-bind:href="capitulo.href">{{capitulo.nombre}}</a>
			  			</li>
			  			<button class="btn waves-effect waves-light btn-small-new" id="btnCapituloNuevo">Nuevo capítulo</button>
			  		</ul>				  		
			  	</div>
			  	
		  	</div>

		  	<!-- Modal Eliminar Pregunta Structure -->
			  <div id="modalEliminarPregunta" class="modal">
			    <div class="modal-content" id="modalEliminarPreguntaContent">
			      
			    </div>
			    <div class="modal-footer" id="modalEliminarPreguntaFooter">
			    	
			    </div>
			  </div>

				<!-- Modal Nuevo Capitulo Structure -->
			  <div id="modalNuevoCapitulo" class="modal">
			    <div class="modal-content" id="modalNuevoCapituloContent">
			    	<h4 class="center-align">Nuevo capítulo</h4>
			      <div class="row row-capitulo-nuevo">
			      	<div class="input-field col s12">
			      		<input type="text" name="nombreCapitulo" id="nombreCapitulo">
			      		<label for="nombreCapitulo">Nombre del capítulo</label>
			      	</div>
			      </div>
			    </div>
			    <div class="modal-footer">
			    	
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" v-on:click="nuevoCapitulo($event)">Crear</a>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			    </div>
			  </div>

		  </div>
		</main>
		<footer>
			<script src="/bower_components/jquery/dist/jquery.js"></script>
			<script src="/bower_components/vue/dist/vue.js"></script>
			<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="/bower_components/materialize/bin/materialize.js"></script>
			<script src="./verPreguntaScript.js"></script>
		</footer>
	</body>
</html>