body{
	background-color:   #d3dbdb;
}

#appRecalificar{
	background-color: rgba(250,250,250,1);
    width: 80%;
    margin: 2% auto;
}

.title{
    font-weight: bold;
}

#pages h1{
    font-weight: bold;
}

section, form{
    padding: 2%;
}

.calificado{
	padding-left: 3%;
}
