<!DOCTYPE html>
<html>
	<head>
		<title>Profesor - Preguntas</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="./tutorialStyle.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<header id="#navbar"></header>
		<main>
			<div class="container" id="tutorial">
				<h2 class="center-align">Preguntas de tutorial</h2>
				<div class="row">
					<div class="input-field col s4 offset-s4">
						<select id="select-materia-tutorial">
							<option value="" disabled selected>Seleccione la materia</option>
				      <option value="FISG1002">Física 2</option>
				      <option value="FISG1003">Física 3</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m9 l10">
						<div v-for="tutorial in tutoriales" class="tutorial scrollspy section" v-bind:id="tutorial._id">
							<h4 class="flow-text">Tutorial: {{tutorial.nombre}}</h4>
							<ul class="preguntas">
								<li v-for="pregunta in tutorial.preguntas" class="question" v-bind:id="pregunta._id">
									<a v-bind:href="pregunta._id"><p class="pregunta flow-text">{{pregunta.nombre}}</p>
											<p class="truncate descripcion flow-text" v-html="pregunta.descripcion"></p>
											<span class="blue-text text-darken-2" v-show="pregunta.subpreguntas.length > 0">Esta pregunta contiene subpreguntas</span>
						  			</a>
									<a href="#" class="right-align btn-eliminar pull right" v-bind:id="pregunta._id" v-on:click="crearModalEliminarPregunta(pregunta._id)" v-if="checkCreador(pregunta)"><i class="material-icons tiny">delete</i></a>
								</li>
							</ul>
							<a v-on:click="nuevaPregunta()" class="btn-floating btn-small waves-effect waves-light red pull right"><i class="material-icons">add</i></a>
						</div>
					</div>
					<div class="col hide-on-small-only m3 l2">
						<ul class="section table-of-contents">
			  			<li v-for="tutorial in tutoriales">
			  				<a v-bind:href="'#' + tutorial._id">{{tutorial.nombre}}</a>
			  			</li>
			  			<button class="btn waves-effect waves-light btn-small-new" id="btnTutorialNuevo">Nuevo tutorial</button>
			  		</ul>	
					</div>

				</div>

				<!-- Modal Eliminar Pregunta Structure -->
			  <div id="modalEliminarPregunta" class="modal">
			    <div class="modal-content" id="modalEliminarPreguntaContent">
			      
			    </div>
			    <div class="modal-footer" id="modalEliminarPreguntaFooter">
			    	
			    </div>
			  </div>

				<!-- Modal Nuevo Tutorial Structure -->
			  <div id="modalNuevoTutorial" class="modal">
			    <div class="modal-content">
			    	<h4 class="center-align">Nuevo tutorial</h4>
			      <div class="row">
			      	<div class="input-field col s12">
			      		<input type="text" name="nombreTutorial" id="nombreTutorial" v-model="tutorial.nombre">
			      		<label for="nombreTutorial">Nombre del tutorial</label>
			      	</div>
			      	<div class="input-field col s12">
			      		<select id="select-materia">
					    		<option value="" disabled selected>Seleccione la materia</option>
						      <option value="FISG1002">Física 2</option>
						      <option value="FISG1003">Física 3</option>
					    	</select>
			      	</div>
			      </div>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" v-on:click="crearTutorial()">Crear</a>
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			    </div>
			  </div>
			</div>
		</main>
		<footer>
			<script src="/js/navbar.js"></script>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
	  		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	  		<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
			<script src="./tutorialScript.js"></script>
		</footer>
	</body>
</html>