<!DOCTYPE html>
<html>
<head>
	<title>Ver lecciones</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/bower_components/materialize/bin/materialize.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/estudiantesbackground.css">
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body id="grad">
	<header>
		<div class="border"></div>
		<hr class="yellow_line">
		<div class="border"></div>
	</header>
	<div id="app">
		<a href="/estudiantes">[regresar]</a>
		<section class="center-align v-center">
				<h2>{{estudiante.nombres}}</h2>
		</section>
		<section class="leccion center-align ">
			<div class="row" id="row-tabs">
				<div class="col s12">
					<ul class="tabs tabs-fixed-width z-depth-1">
						<li class="tab" v-for="pregunta in leccion.preguntas"><a v-bind:href="'#' + pregunta.pregunta" >{{pregunta.ordenPregunta}}</a></li>
						</div>
					</ul>
				</div>
				<div v-for="grupo in grupos">
					<div v-bind:id=grupo[0].pregunta class="col s12" style='display: none'>
						<!--Ahora se debe colocar todas las respuestas-->
						<div class="col s6">
							<div v-for="respuesta in grupo">
								<p><b>Nombre:</b> {{respuesta.estudiante}}</p>
								<p><b>Respuesta:</b></p><p v-html="respuesta.respuesta"></p>
								<p><b>Feedback:</b></p><p v-html="respuesta.feedback"></p>
								<hr>
								<p><b>Calificación obtenida:</b> {{respuesta.calificacion}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer>
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/vue/dist/vue.js"></script>
		<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
		<script src="/bower_components/materialize/bin/materialize.js"></script>
		<script src="./leccionScript.js"></script>
	</footer>
</body>
</html>