.leccion{
			margin: auto;
		}
#app{
	padding-top: 1%;
	padding-right: 10%;
	padding-left: 10%;
	min-height: 100vh;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
	width: 80%;
	margin: auto;
}
.capitulo{
	color: grey;
}
.border{
	background-color: #001a43;
	height: 5vh;
}

.yellow_line{
	margin: 0px;
	border: 0px;
	background-color: #F5b400;
	height: 0.1vh;
}

.title{
	text-align: center;
	font-weight: bold;
}

.card{
	padding: 2% !important;
}

