html,body, #st-full-pg {
   height: 100%;
   margin: 0;
}

div#grupos {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
}
.scrollbar
{
	margin-left: 30px;
	float: left;
  /*width: 400px;*/
  width: auto;
	height: 500px;
	background: #F5F5F5;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

/*input custom*/

#estudiante-buscar:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#estudiante-buscar.valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#estudiante-buscar.invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#selector:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; /* no need for !important :) */
}

.scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
    border-radius: 10px;
}

.force-overflow
{
	min-height: 450px;
}

/*
 *  STYLE 2
 */

 #style-4::-webkit-scrollbar-track
 {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 	background-color: #F5F5F5;
 }

 #style-4::-webkit-scrollbar
 {
 	width: 10px;
 	background-color: #F5F5F5;
 }

 #style-4::-webkit-scrollbar-thumb
 {
 	background-color: #ebebeb;
 	border: 2px solid #555555;
 }


/*
Custom css
 */

div.estudiantes-sin-grupo {
  margin-top: 1%;
  margin-bottom: 2%;
  position: fixed;
  /*width: 100%;
  height: 100%;*/
  /*border-bottom-style: dashed;*/
}

div.grupos {
  margin-top: 2%;
  display: inline-block;
  overflow: visible;
  position: relative;
}

li.grupos-drop {
  list-style-type: none;
}

div.nombre-grupo {
  background-color: white;
  width: 100%;
  height: 100%;
}

div.grupo-completo {
  background-color: #cccccc;
}

a.nombres-estudiante {
  font-size: 1.1em;
  padding: 2%;
  color: inherit;
  text-decoration: none;
}

a.nombres-estudiante:hover {
  background-color: #ebebeb;
  border: 20px 2px 2px 2px;
}

div.nombres-estudiantes-grupo {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

button.boton-borrar {
  background-color: Transparent;
}

span.nombre-grupo {
  font-size: 1.8em;
}

div.nombre-grupo {
  text-align: center
}

div.grupos-grid {
  width: 31.333%;
  /*float: inline-end;*/
  /*float: left;*/
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

div.grid-buscadores {
  width: 25.333%;
  /*float: inline-end;*/
  /*float: left;*/
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

div.divisor {
  margin: black thin solid;
  padding-bottom: 4%;
  width: inherit;
  height: inherit;
  border: 2px;
  clear: both;
}

.grid {
  display:block;
  /*max-width:1000px;*/
    /*text-align:center;*/
    margin:0 auto;
    /*margin-left: 240px;*/
  /*display: table-row;*/
}

.grid-item {
  width: 31.333%;
  float: left;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
  display:inline-block;
  vertical-align: top;
  display:inline-block;
  /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
  clear: right;
}

.grid-item-clear {
  width: 31.333%;
  float: left;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: 1%;
  display:inline-block;
  /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
  clear: right;
}

.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

span.nombres-estudiantes-sin-grupo {
  font-size: 1.2em;
  margin-left: 1%;
  margin-right: 1%;
}

span.nombres-estudiantes-sin-grupo:hover{
  background-color: #D9d9d9;
}


/*modal estudainte*/
div.modal-estudiante{
  text-align: center;
}



/*drag and drop animations*/
.grupos-drop.over {
  border: 3px dashed #ccc;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/**buscadores*/
div.buscadores {
  margin: 0%;
}
