header{
	margin-top: 15%;
}
body{
	background: linear-gradient(to bottom, rgba(51, 102, 153,0.1), rgba(51, 102, 153,0.6))  no-repeat center center fixed; /*Standard*/
}
#info-grupos{
	/*background: rgba(123, 163, 202,0.1);
	*/
	background: rgba(255,255,255,0.5 );
	border: 0px;
}
.collapsible-header{
	background: rgba(123, 163, 202,0.4);
	border-color: rgb(123, 163, 202);	
}
.collapsible-body{
	border-color: rgb(123, 163, 202);	
}
#search{
	background:rgba(123, 163, 202,0.8);
}