<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- <link rel="stylesheet" type="text/css" href="./gruposStyles.css"> -->
	</head>
	<body>

		<nav>
	    <div class="nav-wrapper">
	      <a href="#!" class="brand-logo">Profesor</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a href="#">Sesiones</a></li>
	        <li><a href="#">Lecciones</a></li>
	        <li><a href="../grupos">Grupos</a></li>
	        <li><a href="../preguntas">Preguntas</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="#">Sesiones</a></li>
	        <li><a href="#">Lecciones</a></li>
	        <li><a href="../grupos">Grupos</a></li>
	        <li><a href="../preguntas">Preguntas</a></li>
	      </ul>
	    </div>
	  </nav>

		<div class="container" id="grupos">
			<header>
				<div class = "row">
					<form class = "col s12">
						<div class="row">
							<div class="input-field col s4 offset-s4">
								<input 	type="text" name = "" class = "validate"
										placeholder="Buscar..." id="buscar">
								<label for="buscar">Buscar</label>
							</div>
							<div class="col s1">
								<button class="btn-floating btn-large waves-effect waves-light" id="search">
									<i class="medium material-icons">search</i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</header>
      <section id="alumnos-sin-grupo">
        <div class="drag">
        </div>
      </section>
      <div v-for="estudiante in estudiantesSinGrupo">
        <div v-bind:id="estudiante._id" draggable="true"
        ondragstart="drag(event)">{{estudiante.nombres}}</div>
      </div>
      <section>
        <div v-for="grupo in grupos" >
          <li v-bind:id="grupo._id"   ondrop="drop(event, this)" ondragover="allowDrop(event)">
              {{grupo.nombre}}
            <div v-bind:id="estudiante._id" ondragstart="drag(event)" draggable="true" v-for="estudiante in grupo.estudiantes">
              <span>{{estudiante.nombres}}</span>
            </div>
          </li>
        </div>
      </section>
		</div>

		<footer>
			<script src="https://unpkg.com/vue"></script>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
      <script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      <script src="/bower_components/Sortable/Sortable.min.js"></script>
      <script src="/bower_components/vue.draggable/dist/vuedraggable.min.js"></script>
      <script src="./grupos.js"></script>

		</footer>
	</body>
</html>
