<!DOCTYPE html>
<html>
	<head>
		<title>Profesor</title>
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./gruposStyles.css">
		<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <a href="#" class="navbar-brand">Profesor</a>
		      <ul class="nav navbar-nav">
		        <li><a href="#">Sesiones</a></li>
		        <li><a href="#">Lecciones</a></li>
		        <li><a href="../grupos">Grupos</a></li>
		        <li><a href="../preguntas">Preguntas</a></li>
		      </ul>
		    </div>
	 	</nav>
		<div class="container" id="grupos">
			<header>
			</header>
				<div class="col-md-12 col-md-offset-4">
					<form class="form-inline">
						<div class="form-group center-block">
							<input type="text" id="grupo-nombre" class="form-control pull-left bigger" placeholder="nombre del grupo..." v-on:keyup.enter="nuevoGrupo()">
							<button v-on:click="nuevoGrupo()" class="btn btn-default pull-right">nuevo grupo</button>
						</div>
					</form>
				</div>
      <div class="clearer"></div> <br><br>
      			<div class="col-md-12 col-md-offset-5">
      				<form class="form-inline">
      					<label for="usr">Paralelo: </label>
							<select id="selector" onchange="obtenerParaleloEscogido(this)" class="bigger">
								<option v-for="paralelo in paralelos" v-bind:id="paralelo._id">{{paralelo.nombre}}</option>
							</select>
      				</form>
      			</div>
      			<div class="clearer"></div><br><br>
      <div class="row">
      	<div class="col-sm-3">
      		<p>Estudiantes sin grupo</p>
			<div class="estudiantes-sin-grupo" v-for="estudiante in estudiantesSinGrupo">
				<div v-bind:id="estudiante._id" draggable="true"
				ondragstart="drag(event)"><span>{{estudiante.nombres}} {{estudiante.apellidos}} {{estudiante.correo}}</span></div>
			</div>	
      	</div>
      	<div class="col-sm-9">
			<section>
				<div v-for="grupo in grupos" >
					<li class="grupo-estudiantes" v-bind:id="grupo._id" ondrop="drop(event, this)" ondragover="allowDrop(event)">
					{{grupo.nombre}} <button v-on:click="eliminarGrupo(grupo._id)">x</button>
						<div class="grup" v-bind:id="estudiante._id" ondragstart="drag(event)" draggable="true" v-for="estudiante in grupo.estudiantes">
							<span class="estudiante-nombre">{{estudiante.correo}}</span><button v-bind:id="estudiante._id" onclick="borrarAlumno(this)">x</button>
						</div>
					</li>
				</div>
			</section>
      	</div>
      </div>
		</div>
		<footer>
			<script src="/bower_components/vue/dist/vue.min.js"></script>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      		<script src="/bower_components/vue-resource/dist/vue-resource.min.js"></script>
      		<script src="./grupos.js"></script>
		</footer>
	</body>
</html>
