body{
	background: linear-gradient(to bottom, rgba(51, 102, 153,0.1), rgba(51, 102, 153,0.6))  no-repeat center center fixed; /*Standard*/
}

.container{
	margin-top: 5%;
}

.section{
	margin-bottom: 2%;
	/*border: 1px solid;*/
	padding: 2%;

}

.table-of-contents{
	position: fixed !important;
}

.preguntas>li{
	border-top: 1px solid;
	padding: 2%;

}