<!DOCTYPE html>
<html>
	<head>
		<title>Calificar Lección</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./style.css">
	</head>
	<body id="grad">
		<header>
			<img src="http://placehold.it/100x100" class="img-responsive center-block">
			<h2 class="text-center">Florencio Pinela</h2>
		</header>
		<div class="container" id="main">
			<div class="blocker"></div>
			<ul class="nav nav-tabs nav-justified opa" role="tablist">
				<li role="presentation">
					<a href="#back" aria-controls="back" role="tab" data-toggle="tab"><<</a>
				</li>
				<li role="presentation">
					<a href="#back" aria-controls="profile" role="tab" data-toggle="tab"><</a>
				</li>
				<li role="presentation" class="active">
					<a href="#1" aria-controls="settings" role="tab" data-toggle="tab">1</a>
				</li>
				<li role="presentation">
					<a href="#2" aria-controls="settings" role="tab" data-toggle="tab">2</a>
				</li>
				<li role="presentation">
					<a href="#3" aria-controls="settings" role="tab" data-toggle="tab">3</a>
				</li>
				<li role="presentation">
					<a href="#4" aria-controls="settings" role="tab" data-toggle="tab">4</a>
				</li>
				<li role="presentation">
					<a href="#5" aria-controls="settings" role="tab" data-toggle="tab">5</a>
				</li>
				<li role="presentation">
					<a href="#6" aria-controls="settings" role="tab" data-toggle="tab">6</a>
				</li>
				<li role="presentation">
					<a href="#7" aria-controls="messages" role="tab" data-toggle="tab">7</a>
				</li>
				<li role="presentation">
					<a href="#8" aria-controls="settings" role="tab" data-toggle="tab">8</a>
				</li>
				<li role="presentation">
					<a href="#back" aria-controls="settings" role="tab" data-toggle="tab">></a>
				</li>
				<li role="presentation">
					<a href="#back" aria-controls="settings" role="tab" data-toggle="tab">>></a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content opa radius">
				<div role="tabpanel" class="tab-pane" id="back">...</div>
				<div role="tabpanel" class="tab-pane" id="1">
					
				</div>
				<div role="tabpanel" class="tab-pane" id="2">
					
				</div>
				<div role="tabpanel" class="tab-pane" id="3">

				</div>
				<div role="tabpanel" class="tab-pane" id="4">
					
				</div>
				<div role="tabpanel" class="tab-pane" id="5">
					<div class="row">
						<div class="col-sm-6 right-line">
							<br>
							<h5 class="text-justify pregunta">
								Duis ut justo ac nunc interdum ultricies eu ut dui. In volutpat volutpat felis sit amet eleifend. Vivamus vel nunc rutrum, tempor augue maximus, blandit mauris. Ut bibendum metus ut mi luctus blandit. Aenean a lacus purus. Vestibulum at enim at odio semper finibus. Cras sed diam ac ligula rutrum ullamcorper ut sed ligula. Curabitur quis interdum tellus. Pellentesque urna metus, viverra non hendrerit ac, placerat at urna. Nullam consectetur, tortor vel dapibus convallis, nunc dui facilisis quam, eget consequat tellus sapien sit amet sem. Proin lobortis tortor eget purus luctus, vitae sodales diam ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris malesuada libero odio, ut cursus dolor elementum eu. Nunc id nunc ac erat lacinia cursus id a erat. Suspendisse sed ex ante. Nullam gravida ex enim, vel maximus enim porta non.
								<div><br></div>
							</h5>
						</div>
						<div class="col-sm-6">
							<br>
							<div class="opciones">
								<div class="clearer"></div>
								<div class="radio-inline fl-left-fixed">
									<label><input type="radio" name="optradio">Option 1</label>
								</div>
								<div class="radio-inline fl-right">
									<label><input type="radio" name="optradio">Option 2</label>
								</div>
								<div class="clearer"></div>
								<div class="radio-inline fl-left-fixed">
									<label><input type="radio" name="optradio">Option 3</label>
								</div>
								<div class="radio-inline fl-right">
									<label><input type="radio" name="optradio">Option 4</label>
								</div>
							</div>
							<div class="clearer"></div>
							<br>
							<div class="form-group pregunta">
								<label for="comment">Respuesta:</label>
								<textarea class="form-control" rows="6" id="comment" placeholder="Argumente su respuesta..."></textarea>
								<br>
								<button class="btn btn-default fl-right">Enviar Respuesta</button>
								<div class="clearer"></div>
								<br>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="6">
					<div class="row">
						<div class="col-sm-6 right-line">
							<br>
							<h5 class="text-justify pregunta">
								Duis ut justo ac nunc interdum ultricies eu ut dui. In volutpat volutpat felis sit amet eleifend. Vivamus vel nunc rutrum, tempor augue maximus, blandit mauris. Ut bibendum metus ut mi luctus blandit. Aenean a lacus purus. Vestibulum at enim at odio semper finibus. Cras sed diam ac ligula rutrum ullamcorper ut sed ligula. Curabitur quis interdum tellus. Pellentesque urna metus, viverra non hendrerit ac, placerat at urna. Nullam consectetur, tortor vel dapibus convallis, nunc dui facilisis quam, eget consequat tellus sapien sit amet sem. Proin lobortis tortor eget purus luctus, vitae sodales diam ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris malesuada libero odio, ut cursus dolor elementum eu. Nunc id nunc ac erat lacinia cursus id a erat. Suspendisse sed ex ante. Nullam gravida ex enim, vel maximus enim porta non.
								<div><br>
								<img src="http://placehold.it/300x150" class="center-block"><br>
								</div>
							</h5>
						</div>
						<div class="col-sm-6">
							<br>
							<div class="opciones">
								<div class="clearer"></div>
								<div class="radio-inline fl-left-fixed">
									<label><input type="radio" name="optradio"><img src="http://placehold.it/150x100" class="center-block"></label>
								</div>
								<div class="radio-inline fl-right">
									<label><input type="radio" name="optradio"><img src="http://placehold.it/150x100" class="center-block"></label>
								</div>
								<div class="clearer"></div>
								<div class="radio-inline fl-left-fixed">
									<label><input type="radio" name="optradio"><img src="http://placehold.it/150x100" class="center-block"></label>
								</div>
								<div class="radio-inline fl-right">
									<label><input type="radio" name="optradio"><img src="http://placehold.it/150x100" class="center-block"></label>
								</div>
							</div>
							<div class="clearer"></div>
							<br>
						<div class="form-group pregunta">
							<label for="comment">Respuesta:</label>
							<textarea class="form-control" rows="6" id="comment" placeholder="Argumente su respuesta..."></textarea>
							<br>
							<button class="btn btn-default fl-right">Enviar Respuesta</button>
							<div class="clearer"></div>
							<br>
						</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane active" id="7">
					<div class="row">
						<div class="col-sm-6 right-line">
							<br>
							<h5 class="text-justify pregunta">
								Duis ut justo ac nunc interdum ultricies eu ut dui. In volutpat volutpat felis sit amet eleifend. Vivamus vel nunc rutrum, tempor augue maximus, blandit mauris. Ut bibendum metus ut mi luctus blandit. Aenean a lacus purus. Vestibulum at enim at odio semper finibus. Cras sed diam ac ligula rutrum ullamcorper ut sed ligula. Curabitur quis interdum tellus. Pellentesque urna metus, viverra non hendrerit ac, placerat at urna. Nullam consectetur, tortor vel dapibus convallis, nunc dui facilisis quam, eget consequat tellus sapien sit amet sem. Proin lobortis tortor eget purus luctus, vitae sodales diam ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris malesuada libero odio, ut cursus dolor elementum eu. Nunc id nunc ac erat lacinia cursus id a erat. Suspendisse sed ex ante. Nullam gravida ex enim, vel maximus enim porta non.
								<div><br>
								<img src="http://placehold.it/300x150" class="center-block"><br>
								</div>
							</h5>
						</div>
						<div class="col-sm-6">
							<br><br>
							<select id="estudianteSelect">
								<option disabled>Seleccione un estudiante</option>
								<option v-for="estudiante in estudiantes">
									{{estudiante.nombre}}
								</option>
							</select>
							<br><br>
							<div class="form-group pregunta">
								<label for="comment">Respuesta:</label>
								<textarea class="form-control" rows="6" id="comment" disabled="">
									{{selected.respuesta}}
								</textarea>
								<br>
								<div class="clearer"></div>
								<br>
							</div>

							<div class="form-group calificacion">
								<label>Calificación:</label>
								<div class="radio">
									<label><input type="radio" name="optradio">0</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">1</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">2</label>
								</div>
							</div>

							<div class="form-group feedback">
								<label for="feedback">Feedback:</label>	
								<textarea class="form-control" rows="" id="feedback"> 
									
								</textarea><br>
								<button class="btn btn-primary pull-right">Enviar</button>
							</div>

							



						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="8">
					<div class="row">
						<div class="col-sm-6 right-line">
							<br>
							<h5 class="text-justify pregunta">
								Duis ut justo ac nunc interdum ultricies eu ut dui. In volutpat volutpat felis sit amet eleifend. Vivamus vel nunc rutrum, tempor augue maximus, blandit mauris. Ut bibendum metus ut mi luctus blandit. Aenean a lacus purus. Vestibulum at enim at odio semper finibus. Cras sed diam ac ligula rutrum ullamcorper ut sed ligula. Curabitur quis interdum tellus. Pellentesque urna metus, viverra non hendrerit ac, placerat at urna. Nullam consectetur, tortor vel dapibus convallis, nunc dui facilisis quam, eget consequat tellus sapien sit amet sem. Proin lobortis tortor eget purus luctus, vitae sodales diam ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris malesuada libero odio, ut cursus dolor elementum eu. Nunc id nunc ac erat lacinia cursus id a erat. Suspendisse sed ex ante. Nullam gravida ex enim, vel maximus enim porta non.
								<div><br>
								</div>
							</h5>
						</div>
						<div class="col-sm-6">
							<br>
							<select id="estudianteSelect">
								<option disabled>Seleccione un estudiante</option>
								<option v-for="estudiante in estudiantes">
									{{estudiante.nombre}}
								</option>
							</select>
							<br><br>
							<div class="form-group pregunta">
								<label for="comment">Respuesta:</label>
								<textarea class="form-control" rows="6" id="comment" disabled="">
									{{selected.respuesta}}
								</textarea>
								<br>
								<div class="clearer"></div>
								<br>
							</div>
							<div class="form-group calificacion">
								<label>Calificación:</label>
								<div class="radio">
									<label><input type="radio" name="optradio">0</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">1</label>
								</div>
								<div class="radio">
									<label><input type="radio" name="optradio">2</label>
								</div>
							</div>

							<div class="form-group feedback">
								<label for="feedback">Feedback:</label>	
								<textarea class="form-control" rows="" id="feedback"> 
									
								</textarea><br>
								<button class="btn btn-primary pull-right">Enviar</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<script src="https://unpkg.com/vue"></script>
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="./script.js"></script>
		</footer>
	</body>
</html>