<div class="contenedor">
  <a href="/profesores">
    <div id="logo">
      <div class="row logos">
          <div class="col s12 m1 offset-s4 offset-m2">
            <img src="/img/thumbnail_espol(blanco).jpg" id="logo-pagina">
          </div>
          <div class="col s12 m4 offset-s2">
              <h5>Sistema de</h5>
              <h4>Calificación y Desarrollo PPL</h4>
          </div>
      </div>
  </div>
  </a>
  <nav>
    <!-- Dropdown Structure -->
    <ul id="dropdownRubricaDesktop" class="dropdown-content">
      <li><a href="/profesores/rubrica">Ingresar</a></li>
      <li><a href="#modalCSV" class="modal-trigger">CSV</a></li>
    </ul>
    <ul id="dropdownRubricaMobile" class="dropdown-content">
      <li><a href="/profesores/rubrica">Ingresar</a></li>
      <li><a href="#modalCSV" class="modal-trigger">CSV</a></li>
    </ul>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right">
        <li><a href="/profesores">Inicio</a></li>
        <li><a href="/profesores/leccion">Lección</a></li>
        <li><a href="/profesores/leccion/crear">Crear lección</a></li>
        <li><a href="/profesores/grupos/">Grupos</a></li>
        <li><a href="/profesores/preguntas/banco">Preguntas</a></li>
        <li><a class="dropdown-button" data-activates="dropdownRubricaDesktop">Rúbrica<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
            <i style="height: 64px; margin-right: 10px;" class="hide-on-small-only">
                <img src="/img/Salir.png" alt="" onclick="salir()"
                style="cursor: pointer; vertical-align: middle;">
            </i>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/profesores">Inicio</a></li>
        <li><a href="/profesores/leccion">Lección</a></li>
        <li><a href="/profesores/leccion/crear">Crear lección</a></li>
        <li><a href="/profesores/grupos/">Grupos</a></li>
        <li><a href="/profesores/preguntas/banco">Preguntas</a></li>
        <li><a class="dropdown-button" data-activates="dropdownRubricaMobile">Rúbrica<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <i style="height: 64px; margin-right: 10px;">
              <img src="/img/Salir.png" alt="" onclick="salir()"
              style="cursor: pointer; vertical-align: middle;">
          </i>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Modal Structure -->
  <div id="modalCSV" class="modal">
    <div class="modal-content">
      <h4>CSV</h4>
      <section class="row">
        <form class="col s12">
          <section class="row">
            <article class="input-field col s4">
              <select id="selectMateriaCSV">
                <option value="" disabled selected></option>
                <option value="Física 2">Física 2</option>
                <option value="Física 3">Física 3</option>
              </select>
              <label>Materia</label>
            </article>
            <article class="input-field col s4">
              <select multiple id="selectParalelosCSV">
                <option value="" disabled selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <label>Paralelos</label>
            </article>
            <article class="input-field col s4">
              <select multiple id="selectCapitulosCSV">
                <option value="" disabled selected></option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17-18">17-18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="34B">34B</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
              </select>
              <label>Capítulos</label>
            </article>
          </section>
        </form>
      </section>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action waves-effect waves-green btn-flat" id="descargar">Descargar</a>
    </div>
  </div>
</div>
